Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

sync-readme:
  name: sync README to py/jupyterlite
  entry: cp README.md py/jupyterlite/README.md
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

check CI
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

update versions
  app/jupyter-lite.json
Due: prettier

try versionInfo
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

Linter
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

DriveFS: Fix handling of creating directories (#1886)
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

Backport PR #1886: DriveFS: Fix handling of creating directories
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

Backport PR #1886: DriveFS: Fix handling of creating directories (#1887)
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

TVersionInfo
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Remove `iframe-extension` (#1803)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  docs/migration.md
  examples/requirements-demo.txt
  packages/_metapackage/package.json
  packages/_metapackage/src/index.ts
  packages/_metapackage/tsconfig.json
  packages/iframe-extension/package.json
  packages/iframe-extension/src/index.ts
  packages/iframe-extension/style/base.css
  packages/iframe-extension/style/index.css
  packages/iframe-extension/style/index.js
  packages/iframe-extension/tsconfig.json
  pyproject.toml
  tsconfig.typedoc.json
  typedoc.json
  yarn.lock
Due: prettier, eslint

TypeScript 5.9
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/services/src/kernel/base.ts
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier, eslint

bump typedoc
  package.json
  yarn.lock
Due: prettier

TypeScript 5.9 (#1889)
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/services/src/kernel/base.ts
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier, eslint

ESLint 9
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/licenses.ts
  packages/apputils/src/translation.ts
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/drivefs.ts
  tsconfig.eslint.json
  ui-tests/test/utils.ts
  yarn.lock
Due: prettier, eslint

Document read-only files (#1881)
  docs/howto/content/readonly.md
  docs/howto/index.md
  ui-tests/build.py
  ui-tests/contents/readonly.ipynb
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

ESLint 9 (#1891)
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/licenses.ts
  packages/apputils/src/translation.ts
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/drivefs.ts
  tsconfig.eslint.json
  ui-tests/test/utils.ts
  yarn.lock
Due: prettier, eslint

try pyodide-kernel PR 269
  docs/environment.yml
  examples/jupyter_lite_config.json
Due: prettier

remove some %pip
  examples/jupyter_lite_config.json
  examples/pyodide/altair.ipynb
  examples/pyodide/bqplot.ipynb
  examples/pyodide/folium.ipynb
  examples/pyodide/interactive-widgets.ipynb
  examples/pyodide/ipycanvas.ipynb
  examples/pyodide/ipycytoscape.ipynb
  examples/pyodide/ipyleaflet.ipynb
  examples/pyodide/ipympl.ipynb
  examples/pyodide/ipyvuetify.ipynb
  examples/pyodide/plotly.ipynb
Due: prettier

fix json
  examples/jupyter_lite_config.json
Due: prettier

use full indirect pep-508 with lock extra
  docs/environment.yml
Due: prettier

move specs
  examples/jupyter_lite_config.json
Due: prettier

bump to ipympl 0.9.7
  examples/jupyter_lite_config.json
Due: prettier

remove notebook from pyodide lock specs
  examples/jupyter_lite_config.json
Due: prettier

fix ipycytoscape import
  examples/pyodide/ipycytoscape.ipynb
Due: none

update some deps
  examples/jupyter_lite_config.json
  examples/pyodide/python-packages.ipynb
Due: prettier

Update to JupyterLab 4.5.6 (and todo Notebook)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

Bump Galata for ui-tests too
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
Due: prettier

Remove TODOs, bump notebook, bump resolutions
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/tree/package.json
  docs/environment.yml
  packages/notebook-application-extension/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  yarn.lock
Due: prettier

Fix some more outdated resolutions
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Oops, bump JupyterLab for jupyterlite-core too
  py/jupyterlite-core/pyproject.toml
Due: none

Remove no-longer-needed TODO note
  ui-tests/requirements.txt
Due: none

Use tilde ranges instead
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Update to JupyterLab 4.5.6 and Notebook 7.5.5 (#1894)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.7.4
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Show JupyterLab and Notebook versions in the about dialog
  app/jupyter-lite.json
  package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
Due: prettier, eslint

ui test
  ui-tests/test/general.spec.ts
Due: prettier, eslint

more generic upstream version display
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
Due: prettier, eslint

aboutVersions
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

Path conditions:
  sync-readme: any of: ^README\.md$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(yaml|yml)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
