Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Apply suggestions from code review
  CONTRIBUTING.md
  package.json
Due: prettier

fix contrib docs
  CONTRIBUTING.md
  package.json
  pyproject.toml
Due: prettier

pint dependencies in ui-tests group
  pyproject.toml
Due: none

fix typo
  pyproject.toml
Due: none

streamline ui-tests deps
  pyproject.toml
Due: none

Update bot checkout with newest reusable action
  .github/workflows/playwright-update.yml
Due: none

Linter
  .github/workflows/playwright-update.yml
Due: none

Add script and workflow to update JupyterLab and Notebook
  .github/workflows/upgrade-dependencies.yml
  CONTRIBUTING.md
  pyproject.toml
  scripts/upgrade-dependencies.py
Due: none

fixes
  scripts/upgrade-dependencies.py
Due: none

Add script and workflow to update JupyterLab and Notebook (#1839)
  .github/workflows/upgrade-dependencies.yml
  CONTRIBUTING.md
  pyproject.toml
  scripts/upgrade-dependencies.py
Due: none

Fix update workflow
  .github/workflows/upgrade-dependencies.yml
Due: none

follow PR template
  .github/workflows/upgrade-dependencies.yml
Due: none

summary
  .github/workflows/upgrade-dependencies.yml
Due: none

fix ui test update
  .github/workflows/upgrade-dependencies.yml
Due: none

docs
  .github/workflows/upgrade-dependencies.yml
  CONTRIBUTING.md
Due: none

open the PR as a draft by default
  .github/workflows/upgrade-dependencies.yml
Due: none

fix docs build
  CONTRIBUTING.md
Due: none

update to rspack 1.7.2
  app/package.json
  yarn.lock
Due: prettier

note about PAT
  CONTRIBUTING.md
Due: none

Fix update workflow (#1840)
  .github/workflows/upgrade-dependencies.yml
  CONTRIBUTING.md
Due: none

Update to JupyterLab v4.6.0a1 and Notebook v7.6.0a1 (#1841)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/iframe-extension/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite/pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Remove Rspack `compress: false`
  app/rspack.config.js
Due: prettier, eslint

update chunk pattern
  py/jupyterlite-core/jupyterlite_core/addons/static.py
Due: none

fix
  py/jupyterlite-core/jupyterlite_core/addons/static.py
Due: none

update pattern
  py/jupyterlite-core/jupyterlite_core/addons/static.py
Due: none

Drop `lerna`
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  lerna.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  scripts/bump-version.py
  yarn.lock
Due: prettier, eslint

drop update:dependency
  CONTRIBUTING.md
  package.json
Due: prettier

remove dep on `@jupyterlab/buildutils`
  package.json
  yarn.lock
Due: prettier

fixes
  pyproject.toml
  yarn.lock
Due: none

Fix bump-version.py to use npm pkg set for workspace:^ compatibility
  scripts/bump-version.py
Due: none

fix version bump
  .yarnrc.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  scripts/bump-version.py
  yarn.lock
Due: prettier

fix bump version
  .yarnrc.yml
  pyproject.toml
  scripts/bump-version.py
Due: none

fix bump script
  scripts/bump-version.py
Due: none

bump version script
  pyproject.toml
  scripts/bump-version.py
Due: none

fix serve command
  package.json
Due: prettier

Remove Rspack `compress: false` (#1842)
  app/rspack.config.js
  py/jupyterlite-core/jupyterlite_core/addons/static.py
Due: prettier, eslint

Remove pin on `pytest-cov`
  py/jupyterlite-core/pyproject.toml
  pyproject.toml
Due: none

lower bound
  py/jupyterlite-core/pyproject.toml
  pyproject.toml
Due: none

more logs
  scripts/bump-version.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
