Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

fix
  packages/contents/src/tokens.ts
Due: prettier, eslint

dev pyodide
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

more fixes
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: none

Fix typo in notebook requirement
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

Fix typo in notebook requirement (#1623)
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

Test with originId
  packages/application-extension/tsconfig.json
  packages/contents/src/broadcast.ts
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

fix
  app/jupyter-lite.json
Due: prettier

drop broadcastchannelwrapper
  app/jupyter-lite.json
  docs/howto/configure/advanced/extensions.md
  docs/migration.md
  docs/reference/contents.md
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/server/src/service-worker-manager.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

more cleanup
  packages/contents/src/broadcast.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/index.ts
  packages/contents/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

uuid
  packages/contents/src/broadcast.ts
Due: prettier, eslint

Revert "Use a `MessageChannel` instead of `BroadcastChannel` to communicate with the Service Worker (#1608)"
  docs/migration.md
  docs/reference/contents.md
  examples/jupyter_lite_config.json
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/contents/src/broadcast.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/index.ts
  packages/contents/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier, eslint

add multi-tab test
  ui-tests/contents/file-access.ipynb
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

lint
  ui-tests/contents/file-access.ipynb
Due: none

improve instantiation options
  packages/contents/src/drivefs.ts
Due: prettier, eslint

docstrings
  docs/migration.md
  packages/contents/src/drivefs.ts
Due: prettier, eslint

increase timeout
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

rename the identifier
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

bump timeout
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

contents docs edits
  docs/reference/contents.md
Due: none

lint
  docs/reference/contents.md
Due: none

add link to the upstream issue
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

wording
  docs/migration.md
Due: none

lint
  docs/migration.md
Due: none

improve drive request payload structure
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

`BroadcastChannel` with identifier to properly send responses from the Service Worker (#1621)
  docs/howto/configure/advanced/extensions.md
  docs/migration.md
  docs/reference/contents.md
  examples/jupyter_lite_config.json
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
  ui-tests/contents/file-access.ipynb
  ui-tests/requirements.txt
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

Publish 0.6.0a8
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.6.0a5`
  ui-tests/requirements.txt
Due: none

update demo site
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.6.0a5` (#1624)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

add plugin
  typedoc.json
Due: prettier

Remove top-level `resolutions`
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  yarn.lock
Due: prettier

lint
  typedoc.json
Due: prettier

bump
  package.json
  yarn.lock
Due: prettier

more bumps
  package.json
  yarn.lock
Due: prettier

dodo
  dodo.py
  package.json
  yarn.lock
Due: prettier

dodo
  dodo.py
Due: none

dodoooooooooo
  dodo.py
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
