Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

use dev build of the pyodide kernel
  examples/jupyter_lite_config.json
  packages/application-extension/src/index.tsx
  packages/contents/src/tokens.ts
Due: prettier, eslint

work around wheel download from RTD
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: none

lint
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: none

more lint
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: none

add comment
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: none

update docs
  docs/reference/contents.md
Due: none

tweaks
  packages/server/src/service-worker-manager.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

Use a `MessageChannel` instead of `BroadcastChannel` to communicate with the Service Worker (#1608)
  docs/migration.md
  docs/reference/contents.md
  examples/jupyter_lite_config.json
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/contents/src/broadcast.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/index.ts
  packages/contents/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier, eslint

Publish 0.6.0a7
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Use dev version of the pyodide kernel in the tests
  ui-tests/requirements.txt
Due: none

MessageChannel: track tab ids
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

Wait for service worker to be activated on the first load
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Linter
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Optional tabId in API
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Add tabId to IWorkerKernel
  packages/kernel/src/tokens.ts
Due: prettier, eslint

Add tabId to kernel interface
  packages/kernel/src/tokens.ts
Due: prettier, eslint

Troubleshoot
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Don't rely on promisedelegate
  packages/server/src/service-worker.ts
Due: prettier, eslint

Linting
  packages/server/src/service-worker.ts
Due: prettier, eslint

Fix getting service worker registration
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Fixup
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Try
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Try something else
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

A bit of renaming
  packages/server/src/service-worker.ts
Due: prettier, eslint

Debug logs
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Debug
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Unregister outdated service workers
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Arf
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Iterate
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Debug
  packages/server/src/service-worker.ts
Due: prettier, eslint

Cleanup
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Add doit dev command to docs
  CONTRIBUTING.md
Due: none

Disconnect upon closing tab
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Linter
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Introduce ServiceWorkerContentsAPI.IOptions
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Windowid
  packages/contents/src/drivefs.ts
  packages/kernel/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

Debug more
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint
