Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to py/jupyterlite
        entry: cp README.md py/jupyterlite/README.md
        language: system
        files: ^README\.md$
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css, yaml]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

aboutVersions
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

try versionInfo
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

update on build:prod
  package.json
Due: prettier

minor fix
  packages/application-extension/src/index.tsx
Due: prettier, eslint

update snapshot
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-chromium-linux.png
Due: none

update rspack
  app/package.json
  yarn.lock
Due: prettier

Update to JupyterLab v4.6.0a4 and Notebook v7.6.0a4 (#1896)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite/pyproject.toml
  ui-tests/package.json
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

File browser file provenance
  packages/application-extension/schema/drive-layer-badges.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/services/src/contents/drive.ts
  yarn.lock
Due: prettier, eslint

fixups
  packages/application-extension/src/index.tsx
Due: prettier, eslint

icons
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/ui-components/src/icon/iconimports.ts
  packages/ui-components/style/icons/cloud.svg
Due: prettier, eslint

menu item to revert
  packages/application-extension/src/index.tsx
Due: prettier, eslint

cleanup url
  app/jupyterlite.schema.v0.json
Due: prettier

adjust descriptions
  app/jupyterlite.schema.v0.json
Due: prettier

invert cloud color
  packages/application-extension/style/base.css
Due: prettier

tweaks
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
  ui-tests/test/general.spec.ts
Due: prettier, eslint

log potential error
  packages/application-extension/src/index.tsx
Due: prettier, eslint

add notebook.link to related project
  README.md
  py/jupyterlite/README.md
Due: sync-readme, prettier

lint
  README.md
  py/jupyterlite/README.md
Due: sync-readme, prettier

Update related projects (#1897)
  README.md
  py/jupyterlite/README.md
Due: sync-readme, prettier

Added interrupt_mode handling to LiteKernelClient.interrupt.
  packages/services/src/kernel/client.ts
Due: prettier, eslint

Fix update script
  scripts/upgrade-dependencies.py
Due: none

bump versions
  py/jupyterlite-core/pyproject.toml
  pyproject.toml
Due: none

Do not open files twice at startup
  packages/application-extension/src/index.tsx
Due: prettier, eslint

simplify deps
  examples/jupyter_lite_config.json
  examples/requirements-demo.txt
  pyproject.toml
Due: prettier

align themes
  pyproject.toml
  ui-tests/test/general.spec.ts
Due: prettier, eslint

Fix update script (#1901)
  examples/jupyter_lite_config.json
  examples/requirements-demo.txt
  py/jupyterlite-core/pyproject.toml
  pyproject.toml
  scripts/upgrade-dependencies.py
  ui-tests/test/general.spec.ts
Due: prettier, eslint

Add ui-tests
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

Upload tests
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint

Do not open files twice at startup, when using query parameters (#1902)
  packages/application-extension/src/index.tsx
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

Backport PR #1902: Do not open files twice at startup, when using query parameters
  packages/application-extension/src/index.tsx
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

linting
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

Add missing ESLint rule
  eslint.config.mjs
Due: prettier, eslint

Backport PR #1902 on branch 0.7.x (Do not open files twice at startup, when using query parameters) (#1904)
  packages/application-extension/src/index.tsx
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

follow stylistic recommendation
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier, eslint

fix the lint issue
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

Add missing ESLint quotes rule (#1905)
  eslint.config.mjs
  package.json
  ui-tests/test/notebook.spec.ts
  yarn.lock
Due: prettier, eslint

simplify
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint

test large file
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint

comments
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint

Upload tests (#1903)
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint
