Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Publish 0.7.0a1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to JupyterLab 4.4.5 and Notebook 7.4.5
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Update to JupyterLab 4.4.5 and Notebook 7.4.5 (#1693)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0a0`
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Update logs in the pyodide tests
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

increase timeouts for firefox
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/notebook.spec.ts
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Publish 0.6.4
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

more timeouts
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
Due: prettier, eslint

brige is working successful
  development_setup.md
  kernel-bridge-examples.md
  packages/application-extension/src/index.tsx
  packages/kernel/src/bridge.ts
  packages/kernel/src/console-api.ts
  packages/kernel/src/index.ts
  packages/services-extension/src/index.ts
Due: prettier, eslint

added a method to access kernel via file name
  kernel-bridge-examples.md
  packages/kernel/src/console-api.ts
Due: prettier, eslint

removed methods which are no required
  kernel-bridge-examples.md
  packages/kernel/src/console-api.ts
Due: prettier, eslint

added a doc for using it in some other project
  integration-in-other-project.md
  kernel-bridge-examples.md
  packages/kernel/src/console-api.ts
Due: prettier, eslint

refactor: improve kernel retrieval logic and add validation for requestExecute method
  packages/kernel/src/bridge.ts
Due: prettier, eslint

Update to JupyterLab 4.5.0a2 and Notebook 7.5.0a1
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Audio and video extensions
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  py/jupyterlite-core/jupyterlite_core/constants.py
  yarn.lock
Due: prettier

Update snapshot
  ui-tests/test/renderers.spec.ts-snapshots/latex-chromium-linux.png
Due: none

bump notebook conda dep
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab 4.5.0a2 and Notebook 7.5.0a1 (#1701)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/test/renderers.spec.ts-snapshots/latex-chromium-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.7.0a2
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Add support for workspaces
  app/doc/workspaces/index.html
  app/lab/package.json
  app/lab/workspaces/index.html
  docs/howto/configure/storage.md
  docs/howto/configure/urls.md
  docs/howto/configure/workspaces.md
  docs/howto/index.md
  examples/workspaces/default.jupyterlab-workspace
  packages/application-extension/src/index.tsx
  packages/application/src/index.ts
  packages/application/src/router.ts
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/tsconfig.json
  packages/apputils/package.json
  packages/apputils/src/index.ts
  packages/apputils/src/workspace-router.ts
  packages/apputils/tsconfig.json
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/pyproject.toml
  yarn.lock
Due: prettier, eslint

update docs links
  docs/_templates/launch.html
  docs/index.md
Due: none

handle server workspaces
  app/jupyterlite.schema.v0.json
  package.json
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

add some tests
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

add Python test
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

lint
  docs/howto/configure/urls.md
Due: none

more ui tests
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

allow-bubbling-down
  app/index.template.js
Due: prettier, eslint

fix waiting for notebook
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

lint
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

allow-bubbling-down (#1702)
  app/index.template.js
Due: prettier, eslint

Backport PR #1702: allow-bubbling-down
  app/index.template.js
Due: prettier, eslint

Backport PR #1702: allow-bubbling-down (#1703)
  app/index.template.js
Due: prettier, eslint

fix handling of modes
  docs/howto/configure/urls.md
  packages/application-extension/src/index.tsx
  ui-tests/test/general.spec.ts
Due: prettier, eslint

improve comments and timeouts
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Update examples/workspaces/default.jupyterlab-workspace
  examples/workspaces/default.jupyterlab-workspace
Due: none

fix duplicate commands in the palette
  packages/apputils-extension/src/index.tsx
Due: prettier, eslint

ignore ctime and dontfollow for now
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Add support for workspaces (#1684)
  app/doc/workspaces/index.html
  app/jupyterlite.schema.v0.json
  app/lab/package.json
  app/lab/workspaces/index.html
  docs/_templates/launch.html
  docs/howto/configure/storage.md
  docs/howto/configure/urls.md
  docs/howto/configure/workspaces.md
  docs/howto/index.md
  docs/index.md
  examples/workspaces/default.jupyterlab-workspace
  package.json
  packages/application-extension/src/index.tsx
  packages/application/src/index.ts
  packages/application/src/router.ts
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/tsconfig.json
  packages/apputils/package.json
  packages/apputils/src/index.ts
  packages/apputils/src/workspace-router.ts
  packages/apputils/src/workspaces.ts
  packages/apputils/tsconfig.json
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
  py/jupyterlite-core/pyproject.toml
  ui-tests/test/general.spec.ts
  ui-tests/test/workspace.spec.ts
  yarn.lock
Due: prettier, eslint

ignore ctime and dontfollow for now (#1705)
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Publish 0.7.0a3
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier
