Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Update demo site
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0rc1` (#1796)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Publish 0.7.0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update kernels in the demo site
  examples/jupyter_lite_config.json
Due: prettier

bump
  ui-tests/requirements.txt
Due: none

Update kernels in the demo site (#1797)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Remove `iframe-extension`
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  docs/migration.md
  packages/_metapackage/package.json
  packages/_metapackage/src/index.ts
  packages/_metapackage/tsconfig.json
  packages/iframe-extension/package.json
  packages/iframe-extension/src/index.ts
  packages/iframe-extension/style/base.css
  packages/iframe-extension/style/index.css
  packages/iframe-extension/style/index.js
  packages/iframe-extension/tsconfig.json
  tsconfig.typedoc.json
  typedoc.json
  yarn.lock
Due: prettier, eslint

bump p5-kernel
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Avoid 404 when fetching `all.json` files
  packages/apputils/src/workspaces.ts
  packages/services/src/contents/drive.ts
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
  py/jupyterlite-core/jupyterlite_core/constants.py
Due: prettier, eslint

Package removal note for 0.8.0 (kernel, contents, server, settings)
  packages/contents/src/index.ts
  packages/kernel/src/index.ts
  packages/server/src/index.ts
  packages/settings/src/index.ts
Due: prettier, eslint

fix workspace addon
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
Due: none

Package removal note for 0.8.0 (kernel, contents, server, settings) (#1805)
  packages/contents/src/index.ts
  packages/kernel/src/index.ts
  packages/server/src/index.ts
  packages/settings/src/index.ts
Due: prettier, eslint

Show JupyterLab and Notebook versions in the about dialog
  app/jupyter-lite.json
  package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
Due: prettier, eslint

lint
  .eslintignore
Due: none

Implement ContentProviderRegistry
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Fix handling of the default workspaces on first load
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

ui test
  packages/apputils/src/workspaces.ts
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Remove status section from README
  README.md
Due: none

Update docs to mention JupyterLite is part of Jupyter
  README.md
  py/jupyterlite/README.md
Due: none

Add plausible stats to docs
  docs/conf.py
Due: none

Fix lint
  README.md
  py/jupyterlite/README.md
Due: none

Update docs to mention JupyterLite is part of Jupyter (#1815)
  README.md
  py/jupyterlite/README.md
Due: none

Add plausible stats to docs (#1816)
  docs/conf.py
Due: none

Fix handling of `jupyter-lite.json` in sub-directories
  py/jupyterlite-core/jupyterlite_core/addons/lite.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

windows
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

ignore defaults for jupyter-lite.json
  py/jupyterlite-core/jupyterlite_core/addons/lite.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

lint
  py/jupyterlite-core/jupyterlite_core/config.py
Due: none

mention jupyter-lite.ipynb
  py/jupyterlite-core/jupyterlite_core/config.py
Due: none

Fix handling of the default workspaces on first load (#1810)
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Update to JupyterLab 4.5.1 and Notebook 7.5.1
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

bump py deps
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

bump notebook
  .binder/environment.yml
  docs/environment.yml
Due: none

bump in demo site
  examples/jupyter_lite_config.json
Due: prettier

update firefox repl snapshots
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
Due: none

Update to JupyterLab 4.5.1 and Notebook 7.5.1 (#1819)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Handle review comment
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Add docstrings
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Implement ContentProviderRegistry (#1808)
  packages/services/src/contents/drive.ts
Due: prettier, eslint

use uri-reference format, use available format checkers during check
  app/jupyterlite.schema.v0.json
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier

Fix handling of `jupyter-lite.json` in sub-directories (#1817)
  py/jupyterlite-core/jupyterlite_core/addons/lite.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none
