Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

sync-readme:
  name: sync README to py/jupyterlite
  entry: cp README.md py/jupyterlite/README.md
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Fix encoding and fix tests
  packages/services/src/contents/drive.ts
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Other approach
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

port #1893 to 0.8.0
  .github/workflows/build.yml
  .prettierignore
  .readthedocs.yml
  CONTRIBUTING.md
  examples/jupyter_lite_config.json
  examples/requirements-demo.txt
  examples/requirements-piplite.txt
  examples/requirements-pyodide-lock.txt
  pyproject.toml
  scripts/compile-lock-files.py
Due: prettier

build in examples/ on rtd
  .readthedocs.yml
Due: prettier

more rtd
  .readthedocs.yml
Due: prettier

linting
  .readthedocs.yml
Due: prettier

fix plotly patch
  examples/jupyter_lite_config.json
Due: prettier

tmp fix for audio video files
  packages/services/src/contents/drive.ts
Due: prettier, eslint

more demo updates
  examples/pyodide/altair.ipynb
  examples/pyodide/bqplot.ipynb
  examples/pyodide/folium.ipynb
  examples/pyodide/interactive-widgets.ipynb
  examples/pyodide/ipycanvas.ipynb
  examples/pyodide/ipycytoscape.ipynb
  examples/pyodide/ipyleaflet.ipynb
  examples/pyodide/ipympl.ipynb
  examples/pyodide/ipyvuetify.ipynb
  examples/pyodide/plotly.ipynb
  examples/pyodide/python-packages.ipynb
  examples/pyodide/virtual_drive.ipynb
  examples/requirements-pyodide-lock.txt
  pyproject.toml
Due: none

linting
  .github/workflows/build.yml
  examples/pyodide/virtual_drive.ipynb
Due: prettier

update for widgets in lite constraints
  examples/jupyter_lite_config.json
  examples/requirements-pyodide-lock.txt
Due: prettier

add-plugin
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier, eslint

fix-arg
  packages/services-extension/src/index.ts
Due: prettier, eslint

set-all-rules-to-error
  eslint.config.mjs
Due: prettier, eslint

Do not export functions
  packages/services/src/contents/drive.ts
Due: prettier, eslint

fix-integrity
  yarn.lock
Due: none

Drive: Multiple bug fixes (#1898)
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-roundtrips.ipynb
  ui-tests/test/service-worker.spec.ts
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint

Backport PR #1898 on branch 0.7.x (Drive: Multiple bug fixes)
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-roundtrips.ipynb
  ui-tests/test/contents.spec.ts
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

lint
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-roundtrips.ipynb
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Backport PR #1898 on branch 0.7.x (Drive: Multiple bug fixes) (#1919)
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-roundtrips.ipynb
  ui-tests/test/contents.spec.ts
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Speed up file upload
  packages/services/src/contents/drive.ts
Due: prettier, eslint

fix-lint-issues
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/index.tsx
  packages/notebook-application-extension/src/index.ts
  packages/repl-extension/src/index.ts
  packages/services-extension/src/index.ts
Due: prettier, eslint

add-description
  packages/application-extension/src/index.tsx
Due: prettier, eslint

revert-plugin-description
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Include `@jupyter/eslint-plugin` (#1917)
  eslint.config.mjs
  package.json
  packages/application-extension/src/index.tsx
  packages/apputils-extension/src/index.tsx
  packages/notebook-application-extension/src/index.ts
  packages/repl-extension/src/index.ts
  packages/services-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

Do not hard fail upon duplicated plugins
  app/index.template.js
Due: prettier, eslint

bump-to-0.0.5
  eslint.config.mjs
  package.json
Due: prettier, eslint

fix-issue
  packages/apputils-extension/src/kernelstatus.tsx
  yarn.lock
Due: prettier, eslint

Bump `@jupyter/eslint-plugin` and fix lint (#1929)
  eslint.config.mjs
  package.json
  packages/apputils-extension/src/kernelstatus.tsx
  yarn.lock
Due: prettier, eslint

Use `jupyter-builder`
  .github/workflows/ui-tests.yml
  CONTRIBUTING.md
  app/package.json
  app/rspack.config.js
  pyproject.toml
  yarn.lock
Due: prettier, eslint

Use `jupyter-builder` (#1932)
  .github/workflows/ui-tests.yml
  CONTRIBUTING.md
  app/package.json
  app/rspack.config.js
  pyproject.toml
  yarn.lock
Due: prettier, eslint

try latest ipython
  examples/jupyter_lite_config.json
  pyproject.toml
Due: prettier

add jupyterlab to dev group
  pyproject.toml
Due: none

relock demo constraints
  examples/requirements-pyodide-lock.txt
Due: none

linting
  examples/jupyter_lite_config.json
Due: prettier

update playwright
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Update to JupyterLab 4.5.7 and Notebook 7.5.6
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  yarn.lock
Due: prettier

Remove old refs to the mode-switch plugin
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

update UI test
  ui-tests/test/notebook.spec.ts
Due: prettier, eslint

update snapshots
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
Due: none

Path conditions:
  sync-readme: any of: ^README\.md$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(yaml|yml)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
