Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to py/jupyterlite
        entry: cp README.md py/jupyterlite/README.md
        language: system
        files: ^README\.md$
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css, yaml]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

bump-jupyter-builder-to-v1.1
  pyproject.toml
Due: none

remove-plugin
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
Due: prettier, eslint

Remove explicit `workspaces foreach` plugin (#1968)
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  pyproject.toml
Due: prettier, eslint

Reject contents writes to missing directories (#1967)
  packages/services/src/contents/drive.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

re-enable test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

bump builder
  app/package.json
  yarn.lock
Due: prettier

stabilize check links
  .github/workflows/build.yml
Due: prettier

plugins
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Update to JupyterLab v4.6.0rc0 and Notebook v7.6.0rc0 (#1971)
  .github/workflows/build.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/test/contents.spec.ts
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

dedupe
  yarn.lock
Due: none

Share REPL state
  docs/quickstart/embed-repl.md
  packages/repl-extension/schema/buttons.json
  packages/repl-extension/src/index.ts
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

fixes
  docs/quickstart/embed-repl.md
  packages/repl-extension/schema/buttons.json
  packages/repl-extension/src/index.ts
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

update snapshots
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
Due: none

notify copies
  docs/quickstart/embed-repl.md
  packages/repl-extension/src/index.ts
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

try pyodide-kernel pr 294
  examples/jupyter_lite_config.json
  examples/requirements-pyodide-lock.txt
  pyproject.toml
Due: prettier

document hiding the share button
  docs/quickstart/embed-repl.md
Due: prettier

try ipympl fix
  examples/pyodide/ipympl.ipynb
Due: none

linting
  examples/pyodide/ipympl.ipynb
Due: none

fix tests
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

isolate ipympl import, restore pretty backend name
  examples/pyodide/ipympl.ipynb
Due: none

checks
  CONTRIBUTING.md
  app/jupyter-lite.json
  package.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

align versions
  app/jupyter-lite.json
Due: prettier

avoid waitForTimeout in the notification test
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

stabilize REPL screenshots
  ui-tests/test/embed.spec.ts
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/repl.spec.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

update firefox snapshots
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
Due: none

update page firefox snapshot
  ui-tests/test/repl.spec.ts-snapshots/page-firefox-linux.png
Due: none

disable animations in screenshots
  ui-tests/test/embed.spec.ts
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

hide the cursor in REPL screenshots
  ui-tests/test/utils.ts
Due: prettier, eslint

update snapshots without the cursor
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
Due: none

Show JupyterLab and Notebook versions in the about dialog (#1807)
  CONTRIBUTING.md
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
  ui-tests/test/general.spec.ts
Due: prettier, eslint

Deduplicate yarn.lock
  yarn.lock
Due: none

align jupyter-builder
  pyproject.toml
Due: none

Update to JupyterLab v4.6.0rc1 and Notebook v7.6.0rc1 (#1981)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Toolbar button to easily share a REPL with predefined state (#1972)
  docs/quickstart/embed-repl.md
  packages/repl-extension/schema/buttons.json
  packages/repl-extension/src/index.ts
  ui-tests/test/embed.spec.ts
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/repl.spec.ts
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
  ui-tests/test/utils.ts
Due: prettier, eslint

User facing changelog for 0.8.0
  docs/changelog.md
  docs/changelog_assets/0.8-jupyterlite-activity-bar.webp
  docs/changelog_assets/0.8-jupyterlite-loading-spinner.webp
  docs/changelog_assets/0.8-jupyterlite-scratchpad.webp
Due: prettier

add repl entry
  docs/changelog.md
  docs/changelog_assets/0.8-jupyterlite-repl-share.webp
Due: prettier

update screenshot
  docs/changelog_assets/0.8-jupyterlite-activity-bar.webp
Due: none

Force renaming in the drive processor
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint

Dummy commit
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint
