Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Update to JupyterLab 4.4.3 and Notebook 7.4.3
  .yarn/patches/@jupyterlab-fileeditor-extension-npm-4.4.2-8e26958be6.patch
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

bump conda deps
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab 4.4.3 and Notebook 7.4.3 (#1658)
  .binder/environment.yml
  .yarn/patches/@jupyterlab-fileeditor-extension-npm-4.4.2-8e26958be6.patch
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

Remove `registerPluginModule` methods from `SingleAppWidget`
  docs/migration.md
  packages/application/src/singleWidgetApp.ts
Due: prettier, eslint

tweaks
  docs/migration.md
Due: none

Remove `registerPluginModule` methods from `SingleAppWidget` (#1659)
  docs/migration.md
  packages/application/src/singleWidgetApp.ts
Due: prettier, eslint

Publish 0.6.0rc0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.6.0rc0`
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.6.0rc0` (#1661)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Publish 0.6.0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

docs: include REPL guide on the howto page
  docs/howto/index.md
Due: none

Bump to `jupyterlite-pyodide-kernel==0.6.0`
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

fix
  examples/jupyter_lite_config.json
Due: prettier

docs: include REPL guide on the howto page (#1665)
  docs/howto/index.md
Due: none

Bump to `jupyterlite-pyodide-kernel==0.6.0` (#1666)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

remove top copyright years
  LICENSE
  docs/conf.py
  packages/application-extension/src/index.tsx
  py/jupyterlite-core/LICENSE
  py/jupyterlite/LICENSE
Due: prettier, eslint

remove top copyright years (#1668)
  LICENSE
  docs/conf.py
  packages/application-extension/src/index.tsx
  py/jupyterlite-core/LICENSE
  py/jupyterlite/LICENSE
Due: prettier, eslint

Document package compatibility
  docs/troubleshooting.md
Due: none

fix link
  docs/troubleshooting.md
Due: none

wording
  docs/troubleshooting.md
Due: none

formatting
  docs/troubleshooting.md
Due: none

try raw HTML instead
  docs/troubleshooting.md
Due: none

Document how to test package compatibility (#1669)
  docs/troubleshooting.md
Due: none

Introduce IndexedDB-backed StateDB
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/index.ts
  packages/apputils/src/statedb.ts
Due: prettier, eslint

Stop execution when an error occurs on "Restart Kernel and Run All Cells"
  packages/kernel/src/client.ts
Due: prettier, eslint

UI test
  ui-tests/contents/runall-error.ipynb
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Increase timeout for Firefox
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

improve exception handling
  packages/kernel/src/client.ts
Due: prettier, eslint

Update ui-tests/test/kernels.spec.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Stop execution when an error occurs on "Restart Kernel and Run All Cells" (#1671)
  packages/kernel/src/client.ts
  ui-tests/contents/runall-error.ipynb
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Publish 0.6.1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

docs: Update deployment instructions for Vercel and Netlify: validate wget installation, update Python version to 3.12, and streamline Micromamba environment setup.
  docs/howto/deployment/vercel-netlify.md
Due: none

docs: Update deployment instructions for Vercel and Netlify: validate wget installation, update Python version to 3.12, and streamline Micromamba environment setup. (#1672)
  docs/howto/deployment/vercel-netlify.md
Due: none

Backport PR #1672: docs: Update deployment instructions for Vercel and Netlify
  docs/howto/deployment/vercel-netlify.md
Due: none

Backport PR #1672: docs: Update deployment instructions for Vercel and Netlify (#1673)
  docs/howto/deployment/vercel-netlify.md
Due: none

Introduce workspaces support
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/index.ts
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

Fix storage name
  packages/apputils/src/statedb.ts
Due: prettier, eslint

Update storage name
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
