Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to py/jupyterlite
        entry: cp README.md py/jupyterlite/README.md
        language: system
        files: ^README\.md$
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css, yaml]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Add a Reload button to the Extension Manager dialog
  packages/apputils/src/extensionmanager.ts
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Enable and disable extensions and plugins from the browser (#2059)
  app/index.template.js
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/simple_extensions.md
  docs/migration.md
  packages/apputils-extension/src/index.tsx
  packages/apputils/package.json
  packages/apputils/src/disabledextensions.ts
  packages/apputils/src/extensionmanager.ts
  packages/apputils/src/index.ts
  packages/apputils/src/pluginmanager.ts
  ui-tests/test/disabled-extensions.spec.ts
  ui-tests/test/extensions.spec.ts
  yarn.lock
Due: prettier, eslint

Run UI tests on `webkit`
  .github/workflows/ui-tests.yml
Due: prettier

Add `--with-deps`
  .github/workflows/ui-tests.yml
Due: prettier

Add `webkit` reference snapshots
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-webkit-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-webkit-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-webkit-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-webkit-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-webkit-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-webkit-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-webkit-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/imageviewer-webkit-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/notebook-as-json-webkit-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-webkit-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/image-in-markdown-webkit-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/latex-webkit-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-webkit-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-webkit-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-webkit-linux.png
Due: none

Skip the video test on `webkit`
  ui-tests/test/media.spec.ts
Due: prettier, eslint

Only install the browser used by each UI test job
  .github/workflows/ui-tests.yml
Due: prettier

Open the Simple Interface from the `doc` URLs
  app/doc/index.html
  app/doc/workspaces/index.html
  docs/howto/configure/urls.md
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Fix double decoding of file paths
  packages/application-extension/src/index.tsx
  packages/services/src/contents/drive.ts
  ui-tests/contents/100% sure.txt
  ui-tests/test/paths.spec.ts
Due: prettier, eslint

Stabilize flaky UI tests
  ui-tests/playwright.config.js
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/utils.ts
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Wait for the workspace to be saved before reloading in the UI tests
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Stabilize flaky UI tests (#2069)
  ui-tests/playwright.config.js
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/utils.ts
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Fix service worker stdin replies being delivered to all pending requests
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  packages/services/src/kernel/client.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Fix service worker stdin replies being delivered to all pending requests (#2077)
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  packages/services/src/kernel/client.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Backport PR #2077: Fix service worker stdin replies being delivered to all pending requests
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  packages/services/src/kernel/client.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Backport PR #2077: Fix service worker stdin replies being delivered to all pending requests (#2078)
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  packages/services/src/kernel/client.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Publish 0.8.6
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Show an error when opening a binary file as text
  packages/services/src/contents/drive.ts
  packages/services/src/contents/tools.ts
  ui-tests/test/uploads.spec.ts
Due: prettier, eslint

Fix double decoding of file paths (#2068)
  packages/application-extension/src/index.tsx
  packages/services/src/contents/drive.ts
  ui-tests/contents/100% sure.txt
  ui-tests/test/paths.spec.ts
Due: prettier, eslint

Open the Simple Interface from the `doc` URLs (#2067)
  app/doc/index.html
  app/doc/workspaces/index.html
  docs/howto/configure/urls.md
  ui-tests/test/routing.spec.ts
Due: prettier, eslint
