Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Improve docs for kernel logs
  docs/troubleshooting.md
Due: none

fix
  docs/troubleshooting.md
Due: none

Improve kernel logs docs (#1649)
  docs/troubleshooting.md
Due: none

first draft
  CHANGELOG.md
Due: none

reorg
  CHANGELOG.md
  docs/changelog_assets/0.6-jupyterlite-kernel-status.png
  docs/troubleshooting.md
Due: none

cleanup
  CHANGELOG.md
Due: none

Bump to `jupyterlite-pyodide-kernel==0.6.0b1`
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Bump to `jupyterlite-pyodide-kernel==0.6.0b1` (#1650)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

update changelog
  CHANGELOG.md
  docs/changelog.md
  pyproject.toml
Due: none

more edits
  .prettierignore
  CHANGELOG.md
  docs/changelog.md
  docs/howto/configure/loading_indicator.md
Due: none

lint
  docs/howto/configure/loading_indicator.md
Due: none

fix link
  docs/howto/index.md
Due: none

add more TODOs
  docs/changelog.md
Due: none

edits
  docs/changelog.md
  docs/changelog_assets/0.6-jupyterlite-loading-indicator.png
  docs/howto/configure/loading_indicator.md
Due: none

more edits
  docs/howto/configure/loading_indicator.md
Due: none

fix link
  docs/changelog.md
Due: none

edits
  docs/changelog.md
  docs/changelog_assets/0.6-jupyterlite-clear-browser-data.png
Due: none

more screenshots
  docs/changelog.md
  docs/changelog_assets/0.6-jupyterlite-stdin.png
Due: none

more edits
  docs/changelog.md
  docs/changelog_assets/0.6-jupyterlite-plugin-manager.png
  docs/changelog_assets/0.6-jupyterlite-settings-import-export.png
  docs/changelog_assets/0.6-jupyterlite-single-cell.png
Due: none

fixes
  docs/changelog.md
Due: none

tweaks
  docs/changelog.md
Due: none

fixes
  docs/changelog_assets/0.6-jupyterlite-single-cell.png
  docs/quickstart/embed-repl.md
Due: none

fix
  docs/changelog.md
Due: none

Rename service-worker broadcast channel to something more general
  docs/reference/contents.md
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Iterate
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Update docs/changelog.md
  docs/changelog.md
Due: none

Iterate
  packages/contents/src/drivefs.ts
  packages/server/src/constants.ts
  packages/server/src/index.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

User facing changelog for 0.6.0 (#1647)
  .prettierignore
  CHANGELOG.md
  docs/changelog.md
  docs/changelog_assets/0.6-jupyterlite-clear-browser-data.png
  docs/changelog_assets/0.6-jupyterlite-kernel-status.png
  docs/changelog_assets/0.6-jupyterlite-loading-indicator.png
  docs/changelog_assets/0.6-jupyterlite-plugin-manager.png
  docs/changelog_assets/0.6-jupyterlite-settings-import-export.png
  docs/changelog_assets/0.6-jupyterlite-single-cell.png
  docs/changelog_assets/0.6-jupyterlite-stdin.png
  docs/howto/configure/loading_indicator.md
  docs/howto/index.md
  docs/quickstart/embed-repl.md
  docs/troubleshooting.md
  pyproject.toml
Due: none

Linter
  packages/server/src/service-worker.ts
Due: prettier, eslint

That's unfortunate
  packages/server/src/service-worker.ts
Due: prettier, eslint

Iterate + migration guide
  docs/migration.md
  packages/server/src/constants.ts
  packages/server/src/index.ts
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Linter
  docs/migration.md
Due: none

Fix user facing changelog
  docs/changelog.md
Due: none

Fix user facing changelog (#1655)
  docs/changelog.md
Due: none

improve wording
  docs/migration.md
Due: none

Rename service-worker broadcast channel to something more general (#1654)
  docs/migration.md
  docs/reference/contents.md
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Publish 0.6.0b1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
