Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to py/jupyterlite
        entry: cp README.md py/jupyterlite/README.md
        language: system
        files: ^README\.md$
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css, yaml]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Update to JupyterLab v4.6.4 and Notebook v7.6.3 (#2053)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.8.4
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Split the folder history test for Firefox
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Improve direct navigation to the Notebook pages
  docs/howto/configure/urls.md
  packages/application-extension/src/index.tsx
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Restore the @jupyter/builder pin
  app/package.json
  yarn.lock
Due: prettier

Update @playwright/test to match galata
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Keep newer pins and sync @playwright/test in the upgrade script
  scripts/upgrade-dependencies.py
Due: none

Update snapshots
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/latex-firefox-linux.png
Due: none

Update to JupyterLab v4.7.0a2 and Notebook v7.7.0a2 (#2055)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  scripts/upgrade-dependencies.py
  ui-tests/package.json
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/latex-firefox-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Use the standard license header in the routing test
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Keep folder separators readable in the tree page URL
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Reuse the JupyterLab extension manager as a read-only listing
  app/lab/package.json
  docs/howto/configure/simple_extensions.md
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/package.json
  packages/apputils/src/extensionmanager.ts
  packages/apputils/src/index.ts
  ui-tests/test/extensions.spec.ts
  yarn.lock
Due: prettier, eslint

Wait for the redirect before checking the file browser
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Update UI snapshots for the extension manager sidebar icon
  ui-tests/test/general.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
Due: none

Normalize heading levels in the generated TypeScript API docs
  scripts/post-process-typedoc.py
Due: none

Improve direct navigation to the Notebook pages (#2048)
  docs/howto/configure/urls.md
  packages/application-extension/src/index.tsx
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Add the extension manager (#2056)
  app/lab/package.json
  docs/howto/configure/simple_extensions.md
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/package.json
  packages/apputils/src/extensionmanager.ts
  packages/apputils/src/index.ts
  scripts/post-process-typedoc.py
  ui-tests/test/extensions.spec.ts
  ui-tests/test/general.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
  yarn.lock
Due: prettier, eslint

Derive the singleton packages from a rule
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/rspack.config.js
  app/tree/package.json
  scripts/check-integrity.py
  scripts/upgrade-dependencies.py
Due: prettier, eslint

Derive the singleton packages from a rule (#2057)
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/rspack.config.js
  app/tree/package.json
  scripts/check-integrity.py
  scripts/upgrade-dependencies.py
Due: prettier, eslint

Defer loading disabled federated extensions
  app/index.template.js
  docs/howto/configure/advanced/extensions.md
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/pluginmanager.ts
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Defer loading disabled federated extensions (#2058)
  app/index.template.js
  docs/howto/configure/advanced/extensions.md
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/pluginmanager.ts
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Publish 0.9.0a2
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Enable and disable extensions and plugins from the browser
  app/index.template.js
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/simple_extensions.md
  packages/apputils-extension/src/index.tsx
  packages/apputils/package.json
  packages/apputils/src/disabledextensions.ts
  packages/apputils/src/extensionmanager.ts
  packages/apputils/src/index.ts
  packages/apputils/src/pluginmanager.ts
  ui-tests/test/disabled-extensions.spec.ts
  ui-tests/test/extensions.spec.ts
  yarn.lock
Due: prettier, eslint

Pin @yarnpkg/core for yarn-berry-deduplicate
  package.json
  ui-tests/package.json
Due: prettier

Pin `@yarnpkg/core` to fix the deduplicate script (#2060)
  package.json
  ui-tests/package.json
Due: prettier

Remove SessionContext workaround
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Remove SessionContext workaround (#1998)
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Document how to hide the Extension Manager
  docs/howto/configure/simple_extensions.md
  docs/migration.md
Due: prettier

Apply the disabledExtensions declared by federated extensions
  app/config-utils.js
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/extensions.md
  packages/types/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Use the closest entry of a federated extension listed twice
  app/config-utils.js
Due: prettier, eslint

Apply the `disabledExtensions` declared by federated extensions (#2063)
  app/config-utils.js
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/extensions.md
  packages/types/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Backport PR #2063: Apply the `disabledExtensions` declared by federated extensions
  app/config-utils.js
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/extensions.md
  packages/types/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Backport PR #2060: Pin `@yarnpkg/core` to fix the deduplicate script
  package.json
  ui-tests/package.json
Due: prettier

Backport PR #2060: Pin `@yarnpkg/core` to fix the deduplicate script (#2065)
  package.json
  ui-tests/package.json
Due: prettier

Backport PR #2063: Apply the `disabledExtensions` declared by federated extensions (#2064)
  app/config-utils.js
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/extensions.md
  packages/types/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
  ui-tests/test/disabled-extensions.spec.ts
Due: prettier, eslint

Publish 0.8.5
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Document how to hide the Extension Manager (#2061)
  docs/howto/configure/simple_extensions.md
  docs/migration.md
Due: prettier

Update the migration guide for enabling and disabling extensions
  docs/migration.md
Due: prettier
