Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

sync-readme:
  name: sync README to py/jupyterlite
  entry: cp README.md py/jupyterlite/README.md
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Make ts pass
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint

about dialog
  docs/changelog.md
  docs/changelog_assets/0.8-jupyterlite-about-versions.webp
Due: prettier

update link
  docs/changelog.md
Due: prettier

migration guide
  docs/migration.md
Due: prettier

User facing changelog for the 0.8.0 release (#1982)
  docs/changelog.md
  docs/changelog_assets/0.8-jupyterlite-about-versions.webp
  docs/changelog_assets/0.8-jupyterlite-activity-bar.webp
  docs/changelog_assets/0.8-jupyterlite-loading-spinner.webp
  docs/changelog_assets/0.8-jupyterlite-repl-share.webp
  docs/changelog_assets/0.8-jupyterlite-scratchpad.webp
  docs/migration.md
Due: prettier

Update to JupyterLab v4.6.0 and Notebook v7.6.0 (#1985)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.8.0rc0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Extension manager
  app/lab/package.json
  packages/apputils-extension/style/base.css
  py/jupyterlite-core/jupyterlite_core/addons/extension_manager.py
  py/jupyterlite-core/pyproject.toml
  yarn.lock
Due: prettier

fix yarn.lock
  yarn.lock
Due: none

disabled extensions
  py/jupyterlite-core/jupyterlite_core/addons/extension_manager.py
  py/jupyterlite-core/jupyterlite_core/tests/test_extension_manager.py
Due: none

Fix extension manager test in installed package
  py/jupyterlite-core/jupyterlite_core/tests/test_extension_manager.py
Due: none

Use URL fragments for sharing the REPL state
  packages/repl-extension/src/index.ts
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

Match JupyterLab behavior in Drive rename
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Add check for server items too
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Add ui tests
  ui-tests/contents/file-rename.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Use URL fragments for sharing the REPL state (#1988)
  packages/repl-extension/src/index.ts
  ui-tests/test/repl.spec.ts
Due: prettier, eslint

Oupsi
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Update UI snapshots for the extension manager sidebar icon
  ui-tests/test/general.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
Due: none

Align the extension manager addon with the codebase and expand its tests
  py/jupyterlite-core/jupyterlite_core/addons/extension_manager.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/jupyterlite_core/tests/test_extension_manager.py
Due: none

Add a UI test for the extension manager listing
  ui-tests/test/extensions.spec.ts
Due: prettier, eslint

Publish 0.8.0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix kernel shut down
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Detect kernel restarts deterministically instead of with a timer
  packages/services/src/kernel/client.ts
  packages/services/src/session/client.ts
Due: prettier, eslint

Fix kernel status indicator spinning when there is no kernel
  packages/apputils-extension/src/kernelstatus.tsx
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Show the kernel status spinner while a kernel is starting
  packages/apputils-extension/src/kernelstatus.tsx
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Show a neutral icon in the kernel status indicator when there is no kernel
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/style/base.css
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Added interrupt_mode handling to LiteKernelClient.interrupt.
  packages/services/src/kernel/client.ts
Due: prettier, eslint

Reuse JupyterLab's circleEmptyIcon for the no-kernel status indicator
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/style/base.css
Due: prettier, eslint

Remove the no-op _handleKernelShutdown from the session client
  packages/services/src/session/client.ts
Due: prettier, eslint

Clean up the session when kernel re-creation fails during a restart
  packages/services/src/kernel/client.ts
Due: prettier, eslint

Fix the Pyodide logo link in the Python demo notebook
  examples/python.ipynb
Due: none

Fix kernel shut down (#1993)
  examples/python.ipynb
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/style/base.css
  packages/services/src/kernel/client.ts
  packages/services/src/session/client.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Publish 0.8.1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to JupyterLab v4.7.0a0 and Notebook v7.7.0a0 (#1995)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Fix version bump script
  .github/workflows/build.yml
  pyproject.toml
  scripts/bump-version.py
  scripts/check-bump-version.py
Due: prettier

Fix version bump script (#1996)
  .github/workflows/build.yml
  pyproject.toml
  scripts/bump-version.py
  scripts/check-bump-version.py
Due: prettier

Publish 0.9.0a0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Remove SessionContext workaround
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Update to pyodide-kernel 0.9.0a0
  pyproject.toml
Due: none

Update to pyodide-kernel 0.9.0a0 (#1999)
  pyproject.toml
Due: none

Path conditions:
  sync-readme: any of: ^README\.md$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(yaml|yml)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
