Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to py/jupyterlite
        entry: cp README.md py/jupyterlite/README.md
        language: system
        files: ^README\.md$
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css, yaml]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Send the service worker heartbeat under the base URL
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  ui-tests/test/service-worker-base-url.spec.ts
Due: prettier, eslint

Fix schema paths on Windows
  app/rspack.config.js
Due: prettier, eslint

Update jupyter-builder package version
  app/package.json
  yarn.lock
Due: prettier

Dedupe
  yarn.lock
Due: none

Bump python pkg as well
  pyproject.toml
Due: none

Update jupyter-builder package version (#2028)
  app/package.json
  pyproject.toml
  yarn.lock
Due: prettier

Backport PR #2026: Fix schema paths on Windows
  app/rspack.config.js
Due: prettier, eslint

Update jupyter-builder package version (#2028) (#2030)
  app/package.json
  pyproject.toml
  yarn.lock
Due: prettier

Backport PR #2026: Fix schema paths on Windows (#2029)
  app/rspack.config.js
Due: prettier, eslint

Publish 0.8.2
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix outdated content in the extension docs
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/simple_extensions.md
  docs/howto/extensions/cli-addons.md
  docs/howto/extensions/custom-exporters.md
  docs/howto/extensions/frontend.md
  docs/howto/extensions/kernel.md
Due: prettier

Fix outdated content and typos across the docs
  docs/howto/configure/advanced/hard.md
  docs/howto/configure/advanced/offline.md
  docs/howto/configure/config_files.md
  docs/howto/configure/interface_switcher.md
  docs/howto/configure/kernels.md
  docs/howto/configure/loading_indicator.md
  docs/howto/configure/rtc.md
  docs/howto/configure/storage.md
  docs/howto/configure/urls.md
  docs/howto/configure/workspaces.md
  docs/howto/content/files.md
  docs/howto/content/open-url-parameter.md
  docs/howto/content/python.md
  docs/howto/deployment/binder.md
  docs/howto/deployment/github-pages.md
  docs/howto/deployment/gitlab.md
  docs/howto/deployment/sphinx.md
  docs/howto/deployment/vercel-netlify.md
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/pyodide.md
  docs/howto/pyodide/wheels.md
  docs/howto/xeus-python/preinstalled_packages.md
  docs/index.md
  docs/migration.md
  docs/quickstart/configure.md
  docs/quickstart/deploy.md
  docs/quickstart/index.md
  docs/quickstart/standalone.md
  docs/quickstart/using.md
  docs/reference/cli.ipynb
  docs/reference/config.md
  docs/reference/contents.md
  docs/reference/demo.md
  docs/troubleshooting.md
Due: prettier

Backport PR #2031: Fix outdated content in the extension docs
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/advanced/hard.md
  docs/howto/configure/advanced/offline.md
  docs/howto/configure/config_files.md
  docs/howto/configure/interface_switcher.md
  docs/howto/configure/kernels.md
  docs/howto/configure/loading_indicator.md
  docs/howto/configure/rtc.md
  docs/howto/configure/simple_extensions.md
  docs/howto/configure/storage.md
  docs/howto/configure/urls.md
  docs/howto/configure/workspaces.md
  docs/howto/content/files.md
  docs/howto/content/open-url-parameter.md
  docs/howto/content/python.md
  docs/howto/deployment/binder.md
  docs/howto/deployment/github-pages.md
  docs/howto/deployment/gitlab.md
  docs/howto/deployment/sphinx.md
  docs/howto/deployment/vercel-netlify.md
  docs/howto/extensions/cli-addons.md
  docs/howto/extensions/custom-exporters.md
  docs/howto/extensions/frontend.md
  docs/howto/extensions/kernel.md
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/pyodide.md
  docs/howto/pyodide/wheels.md
  docs/howto/xeus-python/preinstalled_packages.md
  docs/index.md
  docs/migration.md
  docs/quickstart/configure.md
  docs/quickstart/deploy.md
  docs/quickstart/index.md
  docs/quickstart/standalone.md
  docs/quickstart/using.md
  docs/reference/cli.ipynb
  docs/reference/config.md
  docs/reference/contents.md
  docs/reference/demo.md
  docs/troubleshooting.md
Due: prettier

Backport PR #2031: Fix outdated content in the extension docs (#2032)
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/advanced/hard.md
  docs/howto/configure/advanced/offline.md
  docs/howto/configure/config_files.md
  docs/howto/configure/interface_switcher.md
  docs/howto/configure/kernels.md
  docs/howto/configure/loading_indicator.md
  docs/howto/configure/rtc.md
  docs/howto/configure/simple_extensions.md
  docs/howto/configure/storage.md
  docs/howto/configure/urls.md
  docs/howto/configure/workspaces.md
  docs/howto/content/files.md
  docs/howto/content/open-url-parameter.md
  docs/howto/content/python.md
  docs/howto/deployment/binder.md
  docs/howto/deployment/github-pages.md
  docs/howto/deployment/gitlab.md
  docs/howto/deployment/sphinx.md
  docs/howto/deployment/vercel-netlify.md
  docs/howto/extensions/cli-addons.md
  docs/howto/extensions/custom-exporters.md
  docs/howto/extensions/frontend.md
  docs/howto/extensions/kernel.md
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/pyodide.md
  docs/howto/pyodide/wheels.md
  docs/howto/xeus-python/preinstalled_packages.md
  docs/index.md
  docs/migration.md
  docs/quickstart/configure.md
  docs/quickstart/deploy.md
  docs/quickstart/index.md
  docs/quickstart/standalone.md
  docs/quickstart/using.md
  docs/reference/cli.ipynb
  docs/reference/config.md
  docs/reference/contents.md
  docs/reference/demo.md
  docs/troubleshooting.md
Due: prettier

Restore jupyter-builder version
  app/package.json
  yarn.lock
Due: prettier

Update to JupyterLab v4.6.3 and Notebook v7.6.2 (#2033)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.8.3
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix Notebooks download for drives that give Notebooks in base64 format
  packages/application-extension/src/index.tsx
Due: prettier, eslint

fix: read a fetched file's Last-Modified as GMT, not local time
  py/jupyterlite-core/jupyterlite_core/addons/base.py
  py/jupyterlite-core/jupyterlite_core/tests/test_fetch.py
Due: none

docs: contents added after the build need contentsAllJsonFile set
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/hard.md
  docs/howto/content/files.md
Due: prettier

docs: contents added after the build need contentsAllJsonFile set (#2043)
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/hard.md
  docs/howto/content/files.md
Due: prettier

Backport PR #2043: docs: contents added after the build need contentsAllJsonFile set
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/hard.md
  docs/howto/content/files.md
Due: prettier

Backport PR #2043: docs: contents added after the build need contentsAllJsonFile set (#2046)
  app/jupyterlite.schema.v0.json
  docs/howto/configure/advanced/hard.md
  docs/howto/content/files.md
Due: prettier

Fix "Save As"
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Fix directory recreation bug (#2036)
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/drivefs.ts
  packages/services/src/contents/emscripten.ts
  pyproject.toml
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Improve direct navigation to the Notebook pages
  docs/howto/configure/urls.md
  packages/application-extension/src/index.tsx
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Split the folder history test for Firefox
  ui-tests/test/routing.spec.ts
Due: prettier, eslint

Handle review comment
  packages/services/src/contents/drive.ts
  packages/services/src/contents/tools.ts
Due: prettier, eslint

Linter
  packages/services/src/contents/tools.ts
Due: prettier, eslint

Fix "Save As" (#2047)
  packages/services/src/contents/drive.ts
  packages/services/src/contents/tools.ts
Due: prettier, eslint

Backport PR #2047: Fix "Save As"
  packages/services/src/contents/drive.ts
  packages/services/src/contents/tools.ts
Due: prettier, eslint

Add license header workflow and config
  .github/workflows/license-header.yml
  .licenserc.yaml
  app/doc/tree/index.html
  app/doc/workspaces/index.html
  app/index.html
  app/index.template.html
  app/lab/tree/index.html
  app/lab/workspaces/index.html
  docs/_templates/launch.html
  docs/reference/schema-v0.rst
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/embed/index.html
  ui-tests/test/console.spec.ts
  ui-tests/test/contents.spec.ts
  ui-tests/test/embed.spec.ts
  ui-tests/test/exporters.spec.ts
  ui-tests/test/general.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/media.spec.ts
  ui-tests/test/no-content.spec.ts
  ui-tests/test/nojs.spec.ts
  ui-tests/test/notebook.spec.ts
  ui-tests/test/page.spec.ts
  ui-tests/test/renderers.spec.ts
  ui-tests/test/repl.spec.ts
  ui-tests/test/service-worker.spec.ts
  ui-tests/test/translations.spec.ts
  ui-tests/test/uploads.spec.ts
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

Backport PR #2047: Fix "Save As" (#2049)
  packages/services/src/contents/drive.ts
  packages/services/src/contents/tools.ts
Due: prettier, eslint

Fix the plugin IDs of @jupyterlite/apputils-extension
  docs/migration.md
  packages/apputils-extension/src/index.tsx
Due: prettier, eslint

Fix the plugin IDs of @jupyterlite/apputils-extension (#2051)
  docs/migration.md
  packages/apputils-extension/src/index.tsx
Due: prettier, eslint
