Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Fix `tbump` rule
  pyproject.toml
Due: none

fix quotes
  pyproject.toml
Due: none

Fix tbump rule (#1446)
  pyproject.toml
Due: none

docs: update config file example with correct output dir parameter name (#1443)
  docs/howto/configure/config_files.md
Due: none

add "-y" flag
  docs/howto/deployment/vercel-netlify.md
Due: none

add "-y" flag (#1450)
  docs/howto/deployment/vercel-netlify.md
Due: none

Update to Python 3.12 for the dev environment and CI - Enable Python 3.12 testing on the CI - Update from Python 3.11 to Python 3.12 for the dev setup.
  .binder/environment.yml
  .github/workflows/build.yml
  CONTRIBUTING.md
  docs/environment.yml
Due: none

Remove incorrect bump
  CONTRIBUTING.md
Due: none

Update jupyterlab and notebook
  .binder/environment.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

Update to the latest JupyterLab and Notebook
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Update lumino
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  yarn.lock
Due: prettier

dedupe
  yarn.lock
Due: none

update resolutions
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Update galata
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
Due: prettier

Update to JupyterLab 4.2.5 and Notebook 7.2.2 (#1473)
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.4.1
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

remove jupyterlab-github
  .binder/environment.yml
  examples/jupyter_lite_config.json
Due: prettier

remove jupyterlab-github (#1474)
  .binder/environment.yml
  examples/jupyter_lite_config.json
Due: prettier

Use custom `artifact_name` and `report_name` in `playwright-update.yml`
  .github/workflows/playwright-update.yml
Due: none

Use custom `artifact_name` and `report_name` in `playwright-update.yml` (#1478)
  .github/workflows/playwright-update.yml
Due: none

Troubleshoot UI tests
  .github/workflows/playwright-update.yml
  .github/workflows/ui-tests.yml
Due: none

update snapshots
  ui-tests/test/general.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/page-firefox-linux.png
Due: none

Update Playwright Snapshots
  ui-tests/test/general.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-chromium-linux.png
Due: none

update chromium snapshots
  ui-tests/test/general.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-chromium-linux.png
Due: none

Troubleshoot UI tests (#1477)
  .github/workflows/playwright-update.yml
  .github/workflows/ui-tests.yml
  ui-tests/test/general.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/page-firefox-linux.png
Due: none

bump
  .binder/environment.yml
Due: none

bump
  ui-tests/requirements.txt
Due: none

bump
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

bump in UI tests
  ui-tests/requirements.txt
Due: none

fix link
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.4.0`
  .binder/environment.yml
  examples/jupyter_lite_config.json
Due: prettier

Add UI test for nojs
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

no red
  app/index.template.html
Due: none

Add noscript tag
  app/index.template.html
Due: none

Bump `jupyterlite-pyodide-kernel` (#1448)
  .binder/environment.yml
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

missing await
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

Add a partially functional local event manager
  packages/server/src/app.ts
Due: prettier, eslint

Ping service worker every 20s
  packages/server/src/service-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Update packages/server/src/service-manager.ts
  packages/server/src/service-manager.ts
Due: prettier, eslint

Update packages/server/src/service-worker.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
