Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Update error title
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Update ui-tests/test/contents.test.ts
  ui-tests/test/contents.test.ts
Due: prettier, eslint

Update download logic so that it relies on mimetype instead of solely content.type (#1521)
  packages/application-extension/src/index.tsx
  ui-tests/contents/test.customfile
  ui-tests/jupyter_lite_config.json
  ui-tests/test/contents.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

Publish 0.4.4
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix contents copy stripping part of path
  packages/contents/src/contents.ts
Due: prettier, eslint

lint
  docs/migration.md
Due: none

Update to JupyterLab 4.3 and Notebook 7.3
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

bump lab and nb dependencies
  CONTRIBUTING.md
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

fix rendermime
  packages/iframe-extension/package.json
  yarn.lock
Due: prettier

Bump to notebook 7.3.0b2
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/tree/package.json
  packages/notebook-application-extension/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  yarn.lock
Due: prettier

Update migration guide
  docs/migration.md
Due: none

Bump to final lab
  .binder/environment.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

update conda channel and packages
  .binder/environment.yml
  docs/environment.yml
Due: none

update resolutions
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

bump to `7.3.0b2`
  .binder/environment.yml
  docs/environment.yml
Due: none

Use PathExt.removeSlash
  packages/contents/src/contents.ts
Due: prettier, eslint

Fix file size handling for the contents drive
  packages/contents/src/contents.ts
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Fix ts lints
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Test on Python >= 3.9 on CI
  .github/workflows/build.yml
Due: none

more bumps
  .binder/environment.yml
  .github/workflows/build.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

update check against python version
  py/jupyterlite-core/jupyterlite_core/addons/icons.py
Due: none

revert python bump in docs because of sphinx
  .binder/environment.yml
  docs/environment.yml
Due: none

3.13
  .github/workflows/build.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

Test on Python 3.9 - 3.13 on CI (#1531)
  .github/workflows/build.yml
  py/jupyterlite-core/jupyterlite_core/addons/icons.py
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

Fix contents copy stripping part of path (#1524)
  packages/contents/src/contents.ts
Due: prettier, eslint

Update to the latest stable releases
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

clean up channels
  .binder/environment.yml
  docs/environment.yml
Due: none

bump galata
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Fix file size handling for the contents drive (#1530)
  packages/contents/src/contents.ts
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Publish 0.4.5
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to JupyterLab 4.3 and Notebook 7.3
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  docs/migration.md
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

more bumps
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

fix dblclick in notebook
  ui-tests/test/utils.ts
Due: prettier, eslint

update snapshots
  ui-tests/test/embed.test.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/embed.test.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-chromium-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.test.ts-snapshots/page-firefox-linux.png
Due: none

fix notebook tests
  ui-tests/test/contents.test.ts
  ui-tests/test/notebook.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

more UI tests fixes
  ui-tests/test/contents.test.ts
  ui-tests/test/notebook.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

more fixes
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

update snapshots
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-firefox-linux.png
Due: none

try fix flaky UI test
  ui-tests/test/utils.ts
Due: prettier, eslint

fix some deps
  app/consoles/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  yarn.lock
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
