Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Publish 0.7.1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to JupyterLab 4.6.0a0 and Notebook 7.6.0a0
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

rspack
  app/package.json
  app/rspack.config.js
  app/rspack.config.watch.js
  app/webpack.config.watch.js
  package.json
  yarn.lock
Due: prettier, eslint

more updates
  CONTRIBUTING.md
  docs/conf.py
  dodo.py
Due: none

fix
  py/jupyterlite-core/jupyterlite_core/constants.py
Due: none

use uri-reference format, use available format checkers during check (#1820)
  app/jupyterlite.schema.v0.json
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier

Backport PR #1820: use uri-reference format in configuration schema, use available format checkers during check
  app/jupyterlite.schema.v0.json
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier

Backport PR #1820: use uri-reference format in configuration schema, use available format checkers during check (#1823)
  app/jupyterlite.schema.v0.json
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier

try custom minimizer options
  app/rspack.config.js
Due: prettier, eslint

cleanup
  app/rspack.config.js
Due: prettier, eslint

try collapse_vars
  app/rspack.config.js
Due: prettier, eslint

disable compress for now
  app/rspack.config.js
Due: prettier, eslint

update test
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

update chunk pattern
  py/jupyterlite-core/jupyterlite_core/addons/static.py
Due: none

Mention rspack in the migration guide
  docs/migration.md
Due: none

more on build optimizations
  docs/migration.md
Due: none

rspack html plugin
  app/index.template.html
  app/package.json
  app/rspack.config.js
  yarn.lock
Due: prettier, eslint

more cleanup
  app/package.json
  app/rspack.config.analyze.js
  yarn.lock
Due: prettier, eslint

license warnings
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/rspack.config.js
  app/tree/package.json
Due: prettier, eslint

add TODO
  app/rspack.config.js
Due: prettier, eslint

update on build:prod
  package.json
Due: prettier

dodo
  dodo.py
Due: none

Delete .gitpod.yml
  .gitpod.yml
Due: none

Delete .gitpod.yml (#1825)
  .gitpod.yml
Due: none

Publish 0.8.0a0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

add UI test
  .github/workflows/ui-tests.yml
  .gitignore
  ui-tests/build.py
  ui-tests/jupyter_lite_config_no_content.json
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/test/no-content.spec.ts
Due: prettier, eslint

Update conda deps
  .binder/environment.yml
  docs/environment.yml
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Update conda deps (#1826)
  .binder/environment.yml
  docs/environment.yml
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

fix tests
  ui-tests/build.py
  ui-tests/test/no-content.spec.ts
Due: prettier, eslint

Fix a broken link to Pyodide documentation
  docs/howto/pyodide/packages.md
Due: none

Fix a broken link to Pyodide documentation (#1829)
  docs/howto/pyodide/packages.md
Due: none

Backport PR #1829: Fix a broken link to Pyodide documentation
  docs/howto/pyodide/packages.md
Due: none

Backport PR #1829: Fix a broken link to Pyodide documentation (#1830)
  docs/howto/pyodide/packages.md
Due: none

Update to Rspack `1.7.0-beta.1`
  app/package.json
  yarn.lock
Due: prettier

remove the compress option
  app/rspack.config.js
Due: prettier, eslint

Added interrupt_mode handling to LiteKernelClient.interrupt.
  packages/services/src/kernel/client.ts
Due: prettier, eslint

Bump artifact actions
  .github/workflows/build.yml
  .github/workflows/check-release.yml
  .github/workflows/ui-tests.yml
Due: none
