Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Bump `ejs`
  yarn.lock
Due: none

update yarn.lock
  yarn.lock
Due: none

Bump `ejs` (#1392)
  yarn.lock
Due: none

Add note about `currentChanged` to the migration guide
  docs/migration.md
Due: none

Add note about `currentChanged` to the migration guide (#1394)
  docs/migration.md
Due: none

Add `@jupyterlab/terminal`
  app/lab/package.json
  yarn.lock
Due: prettier

add mock-socket to singletonPackages
  app/lab/package.json
Due: prettier

fix resolutions
  app/lab/package.json
Due: prettier

Add `@jupyterlab/terminal-extension` (#1397)
  app/lab/package.json
  yarn.lock
Due: prettier

Publish 0.4.0a1
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to Jupyterlab 4.2.1
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

bump jupyterlab
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: prettier

Update to Jupyterlab 4.2.1 (#1400)
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

Update interface
  packages/contents/src/emscripten.ts
Due: prettier, eslint

DriveFS: Handle receiving a stream instead of a node
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
Due: prettier, eslint

Add migration guide section
  docs/migration.md
Due: none

Linter
  docs/migration.md
Due: none

DriveFS: Handle receiving a stream instead of a node (#1395)
  docs/migration.md
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
Due: prettier, eslint

Publish 0.4.0a2
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Allow providing your own ContentsAPI implementation for the emscripten DriveFS
  packages/contents/src/broadcast.ts
  packages/contents/src/drivecontent.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
  packages/contents/src/index.ts
Due: prettier, eslint

Rename drivecontent file
  packages/contents/src/broadcast.ts
  packages/contents/src/drivecontents.ts
  packages/contents/src/index.ts
Due: prettier, eslint

Add migration docs
  docs/migration.md
Due: none

Run linter
  docs/migration.md
Due: none

Allow providing your own ContentsAPI implementation for the emscripten DriveFS (#1383)
  docs/migration.md
  packages/contents/src/broadcast.ts
  packages/contents/src/drivecontents.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
  packages/contents/src/index.ts
Due: prettier, eslint

Publish 0.4.0a3
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Add docs about the use `SharedArrayBuffer`
  docs/howto/content/python.md
Due: none

Update docs/howto/content/python.md
  docs/howto/content/python.md
Due: none

iterate
  docs/howto/content/python.md
Due: none

wip
  docs/howto/content/python.md
Due: none

add to vercel netlify
  docs/howto/deployment/vercel-netlify.md
Due: none

fix docs
  docs/howto/content/python.md
Due: none

fix directive
  docs/howto/content/python.md
Due: none

Add docs about the use of `SharedArrayBuffer` (#1405)
  docs/howto/content/python.md
  docs/howto/deployment/vercel-netlify.md
Due: none

Publish 0.4.0b0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix return type of some drive methods
  packages/contents/src/drivecontents.ts
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Some more
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Fix some drive methods return types (#1418)
  packages/contents/src/drivecontents.ts
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Add `packageManager`
  package.json
Due: prettier

Add to ui-tests
  ui-tests/package.json
Due: prettier

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
