Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Disable jupyterlab workspace manager
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Mode multiple documents
  app/notebooks/jupyter-lite.json
Due: prettier

Erf
  app/lab/jupyter-lite.json
  app/notebooks/jupyter-lite.json
Due: prettier

Handle review comments
  app/jupyterlite.schema.v0.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

Default settings
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

Remove comment
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

Try
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Did I mention that I hate ui-testing ?
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Implement getDownloadUrl
  packages/contents/src/drive.ts
Due: prettier, eslint

fix handling of local files
  packages/contents/src/drive.ts
Due: prettier, eslint

fix test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

add test for browser content
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

dbg
  .github/workflows/win-dev.yml
Due: none

tweak UI test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

dbg (#1675)
  .github/workflows/win-dev.yml
Due: none

Implement `BrowserStorageDrive.getDownloadUrl()` (#1674)
  packages/contents/src/drive.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Backport PR #1674: Implement `BrowserStorageDrive.getDownloadUrl()`
  packages/contents/src/drive.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Backport PR #1674: Implement `BrowserStorageDrive.getDownloadUrl()` (#1677)
  packages/contents/src/drive.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Publish 0.6.2
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to JupyterLab 4.4.4 and Notebook 7.4.4
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Update conda deps
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab 4.4.4 and Notebook 7.4.4 (#1680)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.6.3
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Publish 0.7.0a0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Introduce workspaces support
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/index.ts
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

Fix storage name
  packages/apputils/src/statedb.ts
Due: prettier, eslint

Update storage name
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

cleanup and docstrings
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/statedb.ts
  packages/services-extension/package.json
  packages/services-extension/src/index.ts
  packages/services-extension/tsconfig.json
Due: prettier, eslint

fix yarn.lock
  yarn.lock
Due: none

try waiting a bit before reloading
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

fix closing logic
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

comments
  packages/apputils/src/statedb.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
