Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

sync-readme:
  name: sync README to py/jupyterlite
  entry: cp README.md py/jupyterlite/README.md
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

fix docs build
  docs/reference/api/py/jupyterlite-core.md
Due: prettier

Added interrupt_mode handling to LiteKernelClient.interrupt.
  packages/services/src/kernel/client.ts
Due: prettier, eslint

[0.7.x] Remove pin on `sphinx<8.2`
  docs/environment.yml
  docs/reference/api/py/jupyterlite-core.md
  requirements-docs.txt
Due: prettier

DriveContentsProcessor: speed-up creating files
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint

DriveContentsProcessor: speed-up creating files (#1878)
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint

Backport PR #1878: DriveContentsProcessor: speed-up creating files
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint

Document read only contents
  docs/howto/content/readonly.md
  docs/howto/index.md
Due: prettier

Fix 0.7.x CI
  .binder/environment.yml
  docs/environment.yml
Due: prettier

UI test
  ui-tests/build.py
  ui-tests/contents/readonly.ipynb
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Fix 0.7.x CI (#1880)
  .binder/environment.yml
  docs/environment.yml
Due: prettier

fix UI test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Backport PR #1878: DriveContentsProcessor: speed-up creating files (#1879)
  packages/services/src/contents/drivecontents.ts
Due: prettier, eslint

Avoid 404 when fetching `all.json` files
  packages/apputils/src/workspaces.ts
  packages/services/src/contents/drive.ts
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
  py/jupyterlite-core/jupyterlite_core/constants.py
Due: prettier, eslint

fix workspace addon
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
Due: none

add UI test
  .github/workflows/ui-tests.yml
  .gitignore
  ui-tests/build.py
  ui-tests/jupyter_lite_config_no_content.json
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/test/no-content.spec.ts
Due: prettier, eslint

fix tests
  ui-tests/build.py
  ui-tests/test/no-content.spec.ts
Due: prettier, eslint

migration guide
  docs/migration.md
Due: prettier

Add regression test for contents path resolution with --lite-dir
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

add another test
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

Fix relative to lite_dir
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/trait_types.py
Due: none

fix test
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

test for workspaces
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

fix workspace
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
Due: none

Fix `EmscriptenFS` type definition (#1872)
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

Backport PR #1872: Fix `EmscriptenFS` type definition
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

Backport PR #1872: Fix `EmscriptenFS` type definition (#1883)
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

migration guide
  docs/migration.md
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: prettier

File browser file provenance
  packages/application-extension/schema/drive-layer-badges.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/services/src/contents/drive.ts
  yarn.lock
Due: prettier, eslint

Avoid 404 when fetching `all.json` files (#1804)
  .github/workflows/ui-tests.yml
  .gitignore
  docs/migration.md
  packages/apputils/src/workspaces.ts
  packages/services/src/contents/drive.ts
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  ui-tests/build.py
  ui-tests/jupyter_lite_config_no_content.json
  ui-tests/package.json
  ui-tests/playwright.config.js
  ui-tests/test/no-content.spec.ts
Due: prettier, eslint

DriveFS: Fix handling of creating directories
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

Remove `iframe-extension`
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  docs/migration.md
  packages/_metapackage/package.json
  packages/_metapackage/src/index.ts
  packages/_metapackage/tsconfig.json
  packages/iframe-extension/package.json
  packages/iframe-extension/src/index.ts
  packages/iframe-extension/style/base.css
  packages/iframe-extension/style/index.css
  packages/iframe-extension/style/index.js
  packages/iframe-extension/tsconfig.json
  tsconfig.typedoc.json
  typedoc.json
  yarn.lock
Due: prettier, eslint

Update p5 kernel
  examples/requirements-demo.txt
  pyproject.toml
Due: none

Add comment
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

more generic upstream version display
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
Due: prettier, eslint

lint
  .eslintignore
Due: none

aboutVersions
  app/jupyter-lite.json
  app/jupyterlite.schema.v0.json
  packages/application-extension/src/index.tsx
  scripts/update-versions.js
Due: prettier, eslint

update on build:prod
  package.json
Due: prettier

Show JupyterLab and Notebook versions in the about dialog
  app/jupyter-lite.json
  package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  scripts/update-versions.js
Due: prettier, eslint

ui test
  ui-tests/test/general.spec.ts
Due: prettier, eslint

Path conditions:
  sync-readme: any of: ^README\.md$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(yaml|yml)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
