Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

More homogeneous code
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Try with new build of jupyterlite-pyodide-kernel
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Backport PR #1714: Fix: Drive issue on rewritting JSON file (#1716)
  packages/contents/src/drivecontents.ts
  ui-tests/contents/file-access-3.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Trying patch approach
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Trying patch again
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Adding test
  ui-tests/contents/file-access-4.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Fix: Drive issue when writing a previously created + deleted file (#1715)
  examples/jupyter_lite_config.json
  packages/contents/src/drivecontents.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
  ui-tests/contents/file-access-4.ipynb
  ui-tests/requirements.txt
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Publish 0.7.0a5
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix dependency on `@jupyterlab/observables`
  packages/kernel/package.json
  packages/server/package.json
  yarn.lock
Due: prettier

Fix dependency on `@jupyterlab/observables` (#1721)
  packages/kernel/package.json
  packages/server/package.json
  yarn.lock
Due: prettier

Update `jupyterlite-pyodide-kernel`
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Update jupyterlite-pyodide-kernel version in requirements
  ui-tests/requirements.txt
Due: none

Update examples/jupyter_lite_config.json
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0a2` (#1720)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Throw EINVAL (28) in DriveFSEmscriptenNodeOps.readlink
  packages/contents/src/drivefs.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Comment out new test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Reinstate new test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Use pyodide-kernel PR 221 wheel in ui-tests and examples
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Add xeus-r kernel to the documentation
  docs/howto/index.md
  docs/howto/xeus-r/preinstalled_packages.md
  docs/quickstart/using.md
Due: none

Support pytest-cov 7.0.0
  pyproject.toml
Due: none

Try removing cwd when running task_test
  dodo.py
Due: none

Improvements
  .binder/environment.yml
  app/lab/favicon.ico
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  requirements-test.txt
Due: none

Debug
  dodo.py
Due: none

Debug
  pyproject.toml
Due: none

Pin pytest-cov <7
  .binder/environment.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  requirements-test.txt
Due: none

Update favicon
  app/lab/favicon.ico
Due: none

Pin pytest-cov <7 (#1730)
  .binder/environment.yml
  app/lab/favicon.ico
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  requirements-test.txt
Due: none

Backport PR #1730: Pin pytest-cov <7
  .binder/environment.yml
  app/lab/favicon.ico
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  requirements-test.txt
Due: none

Backport PR #1730: Pin pytest-cov <7 (#1731)
  .binder/environment.yml
  app/lab/favicon.ico
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  requirements-test.txt
Due: none
