Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Backport PR #1580: Pin on `sphinx<8.2` to the fix docs build
  docs/environment.yml
  requirements-docs.txt
Due: none

Backport PR #1580: Pin on `sphinx<8.2` to the fix docs build (#1581)
  docs/environment.yml
  requirements-docs.txt
Due: none

update lab conda
  .binder/environment.yml
  docs/environment.yml
Due: none

Update notebook conda dep
  .binder/environment.yml
  docs/environment.yml
Due: none

update channel
  .binder/environment.yml
  docs/environment.yml
Due: none

fix clearCodeContentOnExecute
  packages/repl-extension/src/index.ts
Due: prettier, eslint

Expose more REPL options via query string parameters
  packages/repl-extension/src/index.ts
Due: prettier, eslint

Document the new REPL options
  docs/quickstart/embed-repl.md
Due: none

Fix --user installed labextensions not found
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
Due: none

improvements
  packages/repl-extension/src/index.ts
Due: prettier, eslint

Expose more REPL options via query string parameters (#1573)
  docs/quickstart/embed-repl.md
  packages/repl-extension/src/index.ts
Due: prettier, eslint

Publish 0.6.0a2
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

DOC: kernels.md: wording
  docs/howto/configure/kernels.md
Due: none

DOC: kernels.md: wording (#1589)
  docs/howto/configure/kernels.md
Due: none

missing dep
  packages/application/package.json
  yarn.lock
Due: prettier

missing dep
  packages/application/package.json
  packages/application/tsconfig.json
  yarn.lock
Due: prettier

remove refs to server docs
  docs/howto/extensions/frontend.md
  docs/howto/extensions/kernel.md
Due: none

handle default language
  packages/translation/src/connector.ts
Due: prettier, eslint

Fix linting error
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
Due: none

Fix memoryStorageDriver in jupyterlite.schema.v0.json
  app/jupyterlite.schema.v0.json
Due: prettier

Add the plugin manager
  app/index.template.js
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/pluginmanager.ts
  yarn.lock
Due: prettier, eslint

add token label
  packages/application-extension/src/pluginmanager.ts
Due: prettier, eslint

add more plugin data
  app/index.template.js
Due: prettier, eslint

add comment
  packages/application-extension/src/pluginmanager.ts
Due: prettier, eslint

license header
  packages/application-extension/src/pluginmanager.ts
Due: prettier, eslint

tweaks
  packages/application-extension/src/pluginmanager.ts
Due: prettier, eslint

Add the plugin manager (#1593)
  app/index.template.js
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/pluginmanager.ts
  yarn.lock
Due: prettier, eslint

Fix memoryStorageDriver in jupyterlite.schema.v0.json (#1591)
  app/jupyterlite.schema.v0.json
Due: prettier

Update to lab 4.4.0b1 and nb 7.4.0b1
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/translation/src/connector.ts
  packages/translation/src/index.ts
  packages/translation/src/manager.ts
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

licenses and ts update
  app/lab/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/licenses/src/index.ts
  packages/licenses/src/licenses.ts
  packages/licenses/src/tokens.ts
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier, eslint

yarn.lock
  yarn.lock
Due: none

session client
  packages/services-extension/src/index.ts
  packages/session/src/client.ts
  packages/session/src/connection.ts
  packages/session/src/index.ts
  packages/session/src/manager.ts
  packages/session/src/tokens.ts
Due: prettier, eslint

simplify kernel management logic
  packages/kernel/src/client.ts
  packages/kernel/src/connection.ts
  packages/kernel/src/index.ts
  packages/kernel/src/manager.ts
  packages/kernel/src/tokens.ts
  packages/services-extension/src/index.ts
  packages/session/src/client.ts
Due: prettier, eslint

fixes
  docs/migration.md
  packages/kernel/src/client.ts
  packages/kernel/src/connection.ts
  packages/licenses/src/licenses.ts
  packages/services-extension/src/index.ts
  packages/session/src/client.ts
Due: prettier, eslint

cleanup
  packages/kernel/src/kernelspecsmanager.ts
  packages/server/src/status.ts
  packages/services-extension/package.json
Due: prettier, eslint

config section
  app/lab/package.json
  packages/services-extension/package.json
  packages/services-extension/src/configsection.ts
  packages/services-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

more docs on migration
  docs/migration.md
Due: none
