Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Adopt ruff format (#1266)
  .binder/environment.yml
  .pre-commit-config.yaml
  docs/reference/cli.ipynb
  docs/reference/doit.ipynb
  examples/intro.ipynb
  examples/pyodide/bqplot.ipynb
  examples/pyodide/interactive-widgets.ipynb
  examples/pyodide/ipycanvas.ipynb
  examples/pyodide/ipyleaflet.ipynb
  examples/pyodide/ipyvuetify.ipynb
  examples/pyodide/matplotlib.ipynb
  examples/pyodide/plotly.ipynb
  examples/pyodide/virtual_drive.ipynb
  examples/python.ipynb
  package.json
  pyproject.toml
  requirements-lint.txt
Due: prettier

DOCS: unpin myst-nb (#1270)
  docs/environment.yml
  docs/howto/configure/config_files.md
  docs/quickstart/configure.md
  requirements-docs.txt
Due: none

javascript-kernel: use string repr of eval result
  packages/javascript-kernel/package.json
  packages/javascript-kernel/src/worker.ts
  yarn.lock
Due: prettier, eslint

javascript-kernel: use string repr of eval result (#1264)
  packages/javascript-kernel/package.json
  packages/javascript-kernel/src/worker.ts
  yarn.lock
Due: prettier, eslint

add all_federated.json to targets
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
Due: none

Create `all_federated.json` on build
  app/webpack.config.js
Due: prettier, eslint

handle missing all_federated.json
  app/webpack.config.js
  packages/settings/src/settings.ts
Due: prettier, eslint

Handle missing `all_federated.json` (#1269)
  app/webpack.config.js
  packages/settings/src/settings.ts
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
Due: prettier, eslint

Publish 0.2.2
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite-javascript-kernel/package.json
  py/jupyterlite-javascript-kernel/pyproject.toml
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Group dependabot updates
  .github/dependabot.yml
Due: none

Lint
  .github/dependabot.yml
Due: none

Group dependabot updates (#1281)
  .github/dependabot.yml
Due: none

Provide the server router from a token rather than an app attribute Fixes #1284
  docs/howto/extensions/kernel.md
  packages/server-extension/src/index.ts
  packages/server/src/app.ts
  packages/server/src/tokens.ts
  py/jupyterlite-javascript-kernel/src/index.ts
Due: prettier, eslint

Fix typo in docs for adding custom file type
  docs/howto/content/files.md
Due: none

Fix typo in docs for adding custom file type (#1287)
  docs/howto/content/files.md
Due: none

Update vercel-netlify.md
  docs/howto/deployment/vercel-netlify.md
Due: none

Lint
  docs/howto/deployment/vercel-netlify.md
Due: none

Update vercel-netlify.md (#1289)
  docs/howto/deployment/vercel-netlify.md
Due: none

Update README.md (#1225)
  README.md
Due: none

Update the IFrame guide to reference the JupyterLab extension template
  docs/howto/configure/advanced/iframe.md
  docs/howto/extensions/frontend.md
Due: none

Include src in published library for sourcemap resolution
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
Due: prettier

Include src in published library for sourcemap resolution (#1291)
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
Due: prettier

Update the IFrame guide to reference the JupyterLab extension template (#1290)
  docs/howto/configure/advanced/iframe.md
  docs/howto/extensions/frontend.md
Due: none

Initiate documentation on the kernel contents
  docs/reference/architecture.md
  docs/reference/contents.md
Due: none

Lint
  docs/reference/architecture.md
  docs/reference/contents.md
Due: none

Fix sphinx config
  docs/conf.py
  docs/environment.yml
  docs/reference/contents.md
  docs/reference/index.md
Due: none

Fix mermaid graph
  docs/reference/contents.md
Due: none

Fix doc job
  requirements-docs.txt
Due: none

Update to JupyterLab 4.0.11 and Notebook 7.0.7
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-javascript-kernel/package.json
  yarn.lock
Due: prettier

Bump Python packages
  .binder/environment.yml
  docs/environment.yml
  examples/jupyter_lite_config.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: prettier

Update in UI tests
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

update yarn.lock
  yarn.lock
Due: none

update resolutions
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Apply suggestions from code review
  docs/reference/architecture.md
  docs/reference/contents.md
Due: none

Update to JupyterLab 4.0.11 and Notebook 7.0.7 (#1297)
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite-javascript-kernel/package.json
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.2.3
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite-javascript-kernel/package.json
  py/jupyterlite-javascript-kernel/pyproject.toml
  py/jupyterlite/README.md
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Lint the code
  docs/reference/contents.md
Due: none

Update docs/reference/contents.md
  docs/reference/contents.md
Due: none

Initiate documentation on the kernel contents (#1293)
  docs/conf.py
  docs/environment.yml
  docs/reference/architecture.md
  docs/reference/contents.md
  docs/reference/index.md
  requirements-docs.txt
Due: none

fix: add dockerfile
  Dockerfile
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
