Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in pyproject.toml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args: ['--fix']
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to py/jupyterlite
        entry: cp README.md py/jupyterlite/README.md
        language: system
        files: ^README\.md$
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, markdown, ts, tsx, javascript, jsx, css, yaml]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Add a JupyterLite debug drive
  docs/reference/contents.md
  examples/overrides.json
  packages/application-extension/schema/debug-drive.json
  packages/application-extension/src/index.tsx
  packages/services/src/contents/debugdrive.ts
  packages/services/src/contents/index.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Remove SessionContext workaround
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Revert "Remove SessionContext workaround"
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Use PageConfig.getBaseUrl() for the debug drive root URL
  packages/application-extension/src/index.tsx
  packages/services/src/contents/debugdrive.ts
Due: prettier, eslint

Rename to the site drive, use real download URLs
  docs/reference/contents.md
  examples/overrides.json
  packages/application-extension/schema/site-drive.json
  packages/application-extension/src/index.tsx
  packages/services/src/contents/index.ts
  packages/services/src/contents/sitedrive.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Do not enable the site drive by default on the demo site
  examples/overrides.json
Due: prettier

Handle comm_info_request in BaseKernel.handleMessage (#155)
  packages/services/src/kernel/base.ts
Due: prettier, eslint

Add regression test for comm_info_request on notebook close (#155)
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Update tree view snapshots
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
Due: none

Update to JupyterLab v4.7.0a1 and Notebook v7.7.0a1 (#2005)
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Harden site drive handling and tests
  packages/application-extension/schema/site-drive.json
  packages/application-extension/src/index.tsx
  packages/services/src/contents/sitedrive.ts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Fix lint for ruff 0.16.0
  .pre-commit-config.yaml
  docs/howto/configure/simple_extensions.md
  docs/howto/content/python.md
  docs/howto/deployment/sphinx.md
  docs/howto/extensions/cli-addons.md
  docs/howto/pyodide/packages.md
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
Due: prettier

Bump ruff lower bound to 0.16.0
  pyproject.toml
Due: none

Rename the site drive label to JupyterLite Site Drive
  docs/reference/contents.md
  packages/application-extension/schema/site-drive.json
  packages/application-extension/src/index.tsx
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Apply patch from jupyterlab/jupyterlab#19157
  .yarn/patches/@jupyterlab-apputils-npm-4.8.0-alpha.1-9cd533436d.patch
  .yarn/patches/@jupyterlab-docregistry-npm-4.7.0-alpha.1-ccd7682d39.patch
  package.json
  yarn.lock
Due: prettier

Revert "Apply patch from jupyterlab/jupyterlab#19157"
  .yarn/patches/@jupyterlab-apputils-npm-4.8.0-alpha.1-9cd533436d.patch
  .yarn/patches/@jupyterlab-docregistry-npm-4.7.0-alpha.1-ccd7682d39.patch
  package.json
  yarn.lock
Due: prettier

Deduplicate ui-tests/yarn.lock
  ui-tests/yarn.lock
Due: none

Deduplicate yarn.lock
  yarn.lock
Due: none

bump pyodide-kernel rtd
  pyproject.toml
Due: none

update demo deps
  examples/pyodide/seaborn.ipynb
  pyproject.toml
Due: none

update linter ignores for tests
  pyproject.toml
Due: none

linting, rebuild demo constraints
  docs/howto/configure/simple_extensions.md
  docs/howto/content/python.md
  docs/howto/deployment/sphinx.md
  docs/howto/extensions/cli-addons.md
  docs/howto/pyodide/packages.md
  examples/requirements-pyodide-lock.txt
Due: prettier

more plotly deps
  examples/jupyter_lite_config.json
Due: prettier

update ipyleaflet for as-installed pandas.read_json
  examples/pyodide/ipyleaflet.ipynb
Due: none

update ipyleaflet for as-installed pandas.date_range
  examples/pyodide/ipyleaflet.ipynb
Due: none

update seaborn to actually draw something
  examples/pyodide/seaborn.ipynb
Due: none

Validate the JupyterLab console drive fix
  .yarn/patches/@jupyterlab-apputils-npm-4.8.0-alpha.1-9cd533436d.patch
  .yarn/patches/@jupyterlab-console-extension-npm-4.7.0-alpha.1-0c2829daba.patch
  .yarn/patches/@jupyterlab-console-npm-4.7.0-alpha.1-29dc178331.patch
  .yarn/patches/@jupyterlab-docregistry-npm-4.7.0-alpha.1-ccd7682d39.patch
  examples/overrides.json
  package.json
  yarn.lock
Due: prettier

bump to pyodide-kernel 0.8.3
  pyproject.toml
Due: none

remove broken networkx from ipycytoscape example
  examples/pyodide/ipycytoscape.ipynb
Due: none

more demo notebook updates
  examples/jupyter_lite_config.json
  examples/pyodide/ipympl.ipynb
  examples/pyodide/plotly.ipynb
  examples/pyodide/python-packages.ipynb
Due: prettier

Update to pyodide-kernel 0.9.0a1
  pyproject.toml
Due: none

more docs
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/wheels.md
  examples/jupyter_lite_config.json
Due: prettier

remove leftover admonitions
  examples/pyodide/python-packages.ipynb
  examples/pyodide/virtual_drive.ipynb
Due: none

linting
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/wheels.md
Due: prettier

more anchors
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/wheels.md
Due: prettier

[0.8.x] update to jupyterlite-pyodide-kernel 0.8.3 (#1973)
  docs/howto/configure/simple_extensions.md
  docs/howto/content/python.md
  docs/howto/deployment/sphinx.md
  docs/howto/extensions/cli-addons.md
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/wheels.md
  examples/jupyter_lite_config.json
  examples/pyodide/ipycytoscape.ipynb
  examples/pyodide/ipyleaflet.ipynb
  examples/pyodide/ipympl.ipynb
  examples/pyodide/plotly.ipynb
  examples/pyodide/python-packages.ipynb
  examples/pyodide/seaborn.ipynb
  examples/pyodide/virtual_drive.ipynb
  examples/requirements-pyodide-lock.txt
  pyproject.toml
Due: prettier

Forward port #1973: update demo deps, examples and Pyodide docs
  docs/howto/pyodide/packages.md
  docs/howto/pyodide/wheels.md
  examples/jupyter_lite_config.json
  examples/pyodide/ipycytoscape.ipynb
  examples/pyodide/ipyleaflet.ipynb
  examples/pyodide/ipympl.ipynb
  examples/pyodide/plotly.ipynb
  examples/pyodide/python-packages.ipynb
  examples/pyodide/seaborn.ipynb
  examples/pyodide/virtual_drive.ipynb
  examples/requirements-pyodide-lock.txt
  pyproject.toml
Due: prettier

Fix leftover code fence in the python-packages notebook
  examples/pyodide/python-packages.ipynb
Due: none
