Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Apply suggestions from code review
  docs/migration.md
Due: none

Disable default config manager in other apps too
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

fix handling of memory storage
  packages/services-extension/src/index.ts
Due: prettier, eslint

Publish 0.6.0a3
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Trigger signal for spec refresh
  packages/kernel/src/kernelspecsmanager.ts
Due: prettier, eslint

Lint
  packages/kernel/src/kernelspecsmanager.ts
Due: prettier, eslint

Trigger signal for spec refresh (#1596)
  packages/kernel/src/kernelspecsmanager.ts
Due: prettier, eslint

Publish 0.6.0a4
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

fix handling of translations
  packages/translation/src/connector.ts
Due: prettier, eslint

Bump conda dep
  .binder/environment.yml
  docs/environment.yml
Due: none

docstrings
  packages/kernel/src/kernelspecclient.ts
Due: prettier, eslint

Remove custom `IServerSettings` plugin
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/services-extension/src/index.ts
Due: prettier, eslint

Remove custom `IServerSettings` plugin (#1598)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/services-extension/src/index.ts
Due: prettier, eslint

Publish 0.6.0a5
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix handling of the showBanner REPL parameter
  packages/repl-extension/src/index.ts
Due: prettier, eslint

fix order
  packages/repl-extension/src/index.ts
Due: prettier, eslint

Fix handling of the showBanner REPL parameter (#1600)
  packages/repl-extension/src/index.ts
Due: prettier, eslint

Refresh specs when new JupyterLite kernels are added
  packages/kernel/src/kernelspecs.ts
  packages/kernel/src/tokens.ts
  packages/services-extension/src/index.ts
Due: prettier, eslint

Refresh specs when new JupyterLite kernels are added (#1602)
  packages/kernel/src/kernelspecs.ts
  packages/kernel/src/tokens.ts
  packages/services-extension/src/index.ts
Due: prettier, eslint

Update to JupyterLab 4.4.0rc0 and Notebook 7.4.0b3
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

fix channels
  .binder/environment.yml
  docs/environment.yml
Due: none

bump notebook
  .binder/environment.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

more bumps
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

bump
  examples/jupyter_lite_config.json
Due: prettier

bump galata
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Update to JupyterLab 4.4.0rc0 and Notebook 7.4.0b3 (#1603)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Add Single Executable Cell use case to the docs
  docs/quickstart/embed-repl.md
Due: none

Add Single Executable Cell use case to the docs (#1604)
  docs/quickstart/embed-repl.md
Due: none

Handle Drive.get exceptions for missing content
  packages/contents/src/drive.ts
Due: prettier, eslint

Handle Drive.get exceptions for missing content (#1606)
  packages/contents/src/drive.ts
Due: prettier, eslint

Publish 0.6.0a6
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

docstrings and renames
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

drop broadcastchannel
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/contents/src/broadcast.ts
  packages/contents/src/index.ts
  packages/contents/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

add mock for tmp testing
  packages/application-extension/src/index.tsx
  packages/contents/src/tokens.ts
Due: prettier, eslint

update migration guide
  docs/migration.md
Due: none

remove `receiver`
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

ready promise
  packages/server/src/service-worker.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
