Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Use consistent filenames for UI test (#1630)
  ui-tests/test/contents.spec.ts
  ui-tests/test/embed.spec.ts
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/general.spec.ts
  ui-tests/test/general.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/nojs.spec.ts
  ui-tests/test/notebook.spec.ts
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/imageviewer-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/notebook-as-json-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/renderers.spec.ts
  ui-tests/test/renderers.spec.ts-snapshots/latex-chromium-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/latex-firefox-linux.png
  ui-tests/test/repl.spec.ts
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
  ui-tests/test/service-worker.spec.ts
  ui-tests/test/translations.spec.ts
Due: prettier, eslint

Update to JupyterLab 4.4.1 and Notebook 7.4.1
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

update ui tests
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
Due: prettier

bump nb
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab 4.4.1 and Notebook 7.4.1 (#1631)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Add `apputils` and `apputils-extension` packages
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/_metapackage/package.json
  packages/_metapackage/src/index.ts
  packages/_metapackage/tsconfig.json
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  packages/apputils-extension/tsconfig.json
  packages/apputils/package.json
  packages/apputils/src/index.ts
  packages/apputils/src/licenses.ts
  packages/apputils/src/pluginmanager.ts
  packages/apputils/src/translation.ts
  packages/apputils/style/base.css
  packages/apputils/style/index.css
  packages/apputils/style/index.js
  packages/apputils/tsconfig.json
  packages/licenses/src/index.ts
  packages/translation/babel.config.js
  packages/translation/jest.config.js
  packages/translation/test/translation.spec.ts
  packages/translation/tsconfig.test.json
  yarn.lock
Due: prettier, eslint

fixes
  packages/_metapackage/package.json
  packages/_metapackage/tsconfig.json
  packages/application-extension/tsconfig.json
  packages/application/package.json
  packages/application/tsconfig.json
  packages/apputils/package.json
  packages/server/package.json
  packages/server/tsconfig.json
  tsconfig.typedoc.json
  typedoc.json
  yarn.lock
Due: prettier

lint
  packages/server/tsconfig.json
Due: prettier

add to migration guide
  docs/migration.md
Due: none

fix plugin names
  docs/migration.md
Due: none

more cleanup
  packages/application-extension/babel.config.js
  packages/application-extension/jest.config.js
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/application-extension/src/pluginmanager.ts
  yarn.lock
Due: prettier, eslint

update warning
  docs/migration.md
Due: none

Add `preserve="true"` to `<reference>`
  packages/contents/src/emscripten.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Add `preserve="true"` to `<reference>` (#1633)
  packages/contents/src/emscripten.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

fix pluginmanager plugin
  packages/apputils-extension/src/index.tsx
Due: prettier, eslint

fix download link
  packages/apputils/src/licenses.ts
Due: prettier, eslint

fixes
  packages/apputils/src/licenses.ts
Due: prettier, eslint

more licenses fixes
  packages/apputils/src/licenses.ts
Due: prettier, eslint

fix translation typings
  packages/apputils/src/translation.ts
Due: prettier, eslint

better filename for licenses file
  packages/apputils/src/licenses.ts
Due: prettier, eslint

fix md extension
  packages/apputils/src/licenses.ts
Due: prettier, eslint

Fix a couple of `TODO` items (#1634)
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/licenses.ts
  packages/apputils/src/translation.ts
Due: prettier, eslint

Add a loading indicator
  app/bootstrap.js
  app/index.template.html
  app/index.template.js
Due: prettier, eslint

adjustments
  app/index.template.html
Due: none

only show on the lab page
  app/bootstrap.js
  app/index.template.html
Due: prettier, eslint

add UI test
  app/index.template.js
  ui-tests/test/page.spec.ts
Due: prettier, eslint

check dark theme
  ui-tests/test/page.spec.ts
Due: prettier, eslint

CDP is chromium only
  ui-tests/test/page.spec.ts
Due: prettier, eslint

Update ui-tests/test/page.spec.ts
  ui-tests/test/page.spec.ts
Due: prettier, eslint

cleanup
  app/bootstrap.js
  app/index.template.js
Due: prettier, eslint

cleanup
  app/index.template.js
Due: prettier, eslint

fix typo
  ui-tests/test/page.spec.ts
Due: prettier, eslint

add `showLoadingIndicator` option
  app/bootstrap.js
  app/index.template.html
  app/jupyterlite.schema.v0.json
  app/lab/jupyter-lite.json
Due: prettier, eslint

Add a plugin to clear settings and files
  packages/application-extension/package.json
  packages/application-extension/schema/clear-browser-data.json
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/contents/src/drive.ts
  packages/settings/src/settings.ts
Due: prettier, eslint

tweaks
  packages/application-extension/schema/clear-browser-data.json
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
Due: prettier, eslint

add to docs
  docs/troubleshooting.md
Due: none

Add ui test
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

add more tests
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

stabilize tests
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
