Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Throw EINVAL (28) in `DriveFSEmscriptenNodeOps.readlink` (#1723)
  examples/jupyter_lite_config.json
  packages/contents/src/drivefs.ts
  ui-tests/requirements.txt
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Improve Installing other kernels section
  CONTRIBUTING.md
Due: none

lint
  docs/howto/xeus-r/preinstalled_packages.md
Due: none

Add xeus-r kernel to the documentation (#1725)
  docs/howto/index.md
  docs/howto/xeus-r/preinstalled_packages.md
  docs/quickstart/using.md
Due: none

Backport PR #1725: Add xeus-r kernel to the documentation
  docs/howto/index.md
  docs/howto/xeus-r/preinstalled_packages.md
  docs/quickstart/using.md
Due: none

lint
  CONTRIBUTING.md
Due: none

Backport PR #1725: Add xeus-r kernel to the documentation (#1736)
  docs/howto/index.md
  docs/howto/xeus-r/preinstalled_packages.md
  docs/quickstart/using.md
Due: none

Improve Installing other kernels section from documentation (#1734)
  CONTRIBUTING.md
Due: none

Backport PR #1734: Improve Installing other kernels section from documentation
  CONTRIBUTING.md
Due: none

Backport PR #1734: Improve Installing other kernels section from documentation (#1737)
  CONTRIBUTING.md
Due: none

Update to JupyterLab 4.5.0a4 and Notebook 7.5.0a3
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

fix deps
  packages/application/package.json
  yarn.lock
Due: prettier

bump conda
  .binder/environment.yml
  docs/environment.yml
Due: none

update notebook
  ui-tests/requirements.txt
Due: none

Update to JupyterLab 4.5.0a4 and Notebook 7.5.0a3 (#1738)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.7.0a6
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix links in Markdown
  packages/apputils-extension/src/urlresolver.ts
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Test
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Update to jupyterlite-pyodide-kernel==0.7.0a3
  ui-tests/requirements.txt
Due: none

Fix test
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Finalise
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

update demo site
  examples/jupyter_lite_config.json
Due: prettier

Correct use of EINVAL
  packages/contents/src/drivefs.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Increase timeout on DriveFS readlink test as it uses the pyodide kernel
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Correct use of EINVAL (#1742)
  packages/contents/src/drivefs.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Update to JupyterLab `4.5.0b0` and Notebook `7.5.0b0`
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

bump python deps
  CONTRIBUTING.md
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

integrity
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Update chromium snapshot
  ui-tests/test/renderers.spec.ts-snapshots/latex-chromium-linux.png
Due: none

Implement ContentProviderRegistry interface
  packages/contents/src/drive.ts
Due: prettier, eslint

Skip mathjax test on firefox
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

add comment
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

bump conda deps
  .binder/environment.yml
  docs/environment.yml
Due: none

fix channels
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab `4.5.0b0` and Notebook `7.5.0b0` (#1744)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/test/renderers.spec.ts
  ui-tests/test/renderers.spec.ts-snapshots/latex-chromium-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Debug
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Debug more
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Update to Playwright 1.56.0
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

re-enable skipped Firefox test
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Publish 0.7.0a7
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier
