Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

sync-readme:
  name: sync README to py/jupyterlite
  entry: cp README.md py/jupyterlite/README.md
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Expands UI tests contrib docs
  CONTRIBUTING.md
Due: prettier

Expands UI tests contrib docs (#1847)
  CONTRIBUTING.md
Due: prettier

Remove pin on `pytest-cov` (#1846)
  py/jupyterlite-core/pyproject.toml
  pyproject.toml
Due: none

Drop `lerna` (#1843)
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  CONTRIBUTING.md
  lerna.json
  package.json
  pyproject.toml
  scripts/bump-version.py
  yarn.lock
Due: prettier, eslint

scratchpad console UI test
  ui-tests/test/console.spec.ts
Due: prettier, eslint

fix support for scratchpad consoles
  packages/services/src/session/client.ts
Due: prettier, eslint

bump to rspack 1.7.3
  app/package.json
  yarn.lock
Due: prettier

fix yarn.lock
  yarn.lock
Due: none

Update to JupyterLab v4.6.0a2 and Notebook v7.6.0a2 (#1845)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/iframe-extension/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/services/src/session/client.ts
  packages/ui-components/package.json
  py/jupyterlite/pyproject.toml
  ui-tests/package.json
  ui-tests/test/console.spec.ts
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Publish 0.8.0a1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix Python version bump
  pyproject.toml
Due: none

Fix pyodide kernel version
  pyproject.toml
Due: none

fix resolutions
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

fix integrity pass after bump
  scripts/bump-version.py
Due: none

Fix update script (#1851)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  pyproject.toml
  scripts/bump-version.py
Due: prettier

Added interrupt_mode handling to LiteKernelClient.interrupt.
  packages/services/src/kernel/client.ts
Due: prettier, eslint

Add minimal working example
  docs/howto/extensions/cli-addons.md
  docs/howto/extensions/jupyterlite-mwe-addon/README.md
  docs/howto/extensions/jupyterlite-mwe-addon/pyproject.toml
  docs/howto/extensions/jupyterlite-mwe-addon/src/jupyterlite_mwe_addon/__init__.py
Due: prettier

dbg
  .github/workflows/build.yml
  pyproject.toml
Due: prettier

fix
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

this test is already run in the other job
  .github/workflows/build.yml
Due: prettier

regex
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

pytest args
  py/jupyterlite-core/jupyterlite_core/tests/conftest.py
  pyproject.toml
Due: none

check change
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

pass arg
  .github/workflows/build.yml
Due: prettier

re-apply fix
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

Fix CI (#1858)
  .github/workflows/build.yml
  py/jupyterlite-core/jupyterlite_core/tests/conftest.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: prettier

Fix Notebook export for some drives that set content as base64 by default
  packages/services/src/nbconvert/exporters.ts
Due: prettier, eslint

Backport PR #1863: Fix Notebook export for some drives that set content as base64 by default
  packages/services/src/nbconvert/exporters.ts
Due: prettier, eslint

[0.7.x] Fix CI
  .github/workflows/build.yml
  py/jupyterlite-core/jupyterlite_core/tests/conftest.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: prettier

[0.7.x] Fix CI (#1868)
  .github/workflows/build.yml
  py/jupyterlite-core/jupyterlite_core/tests/conftest.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: prettier

Backport PR #1863: Fix Notebook export for some drives that set content as base64 by default (#1867)
  packages/services/src/nbconvert/exporters.ts
Due: prettier, eslint

Publish 0.7.2
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

update playwright
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

align with upstream
  app/tree/package.json
Due: prettier

Update to JupyterLab 4.5.5 and Notebook 7.5.4
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/iframe-extension/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

more bumps
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
  examples/jupyter_lite_config.json
  packages/application/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/server/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/requirements.txt
  yarn.lock
Due: prettier

Update to JupyterLab 4.5.5 and Notebook 7.5.4 (#1871)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.7.3
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Remove pin on `sphinx<8.2`
  pyproject.toml
Due: none

Path conditions:
  sync-readme: any of: ^README\.md$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(yaml|yml)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
