Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

add dedicated UI test
  ui-tests/test/workspace.spec.ts
Due: prettier, eslint

streamline workspace storage
  app/jupyterlite.schema.v0.json
  packages/services-extension/src/index.ts
Due: prettier, eslint

Allow clearing workspace data
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

fix missing dependency
  packages/application-extension/package.json
  packages/application-extension/tsconfig.json
  yarn.lock
Due: prettier

Introduce layout restoring support (#1670)
  app/consoles/package.json
  app/edit/package.json
  app/jupyterlite.schema.v0.json
  app/lab/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/apputils-extension/src/index.tsx
  packages/apputils/src/index.ts
  packages/apputils/src/statedb.ts
  packages/apputils/src/workspaces.ts
  packages/services-extension/package.json
  packages/services-extension/src/index.ts
  packages/services-extension/tsconfig.json
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/workspace.spec.ts
  yarn.lock
Due: prettier, eslint

Explore minimal interrupt functionality
  packages/kernel/src/client.ts
Due: prettier, eslint

Try to show error/clear execution count via error message
  packages/kernel/src/client.ts
Due: prettier, eslint

Adjust type and return username/version from parent
  packages/kernel/src/client.ts
Due: prettier, eslint

Add support for workspaces
  app/doc/workspaces/index.html
  app/lab/package.json
  app/lab/workspaces/index.html
  docs/howto/configure/storage.md
  docs/howto/configure/urls.md
  docs/howto/configure/workspaces.md
  docs/howto/index.md
  examples/workspaces/default.jupyterlab-workspace
  packages/application-extension/src/index.tsx
  packages/application/src/index.ts
  packages/application/src/router.ts
  packages/apputils-extension/package.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/tsconfig.json
  packages/apputils/package.json
  packages/apputils/src/index.ts
  packages/apputils/src/workspace-router.ts
  packages/apputils/tsconfig.json
  py/jupyterlite-core/jupyterlite_core/addons/workspaces.py
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/pyproject.toml
  yarn.lock
Due: prettier, eslint

lint
  docs/howto/configure/urls.md
Due: none

Wait for mutex to complete before showing error
  packages/kernel/src/client.ts
Due: prettier, eslint

Also send `iopub.error`
  packages/kernel/src/client.ts
Due: prettier, eslint

Add iopub.status
  packages/kernel/src/client.ts
Due: prettier, eslint

Use KernelMessage wrapper
  packages/kernel/src/client.ts
Due: prettier, eslint

Simplify, try without execute_reply
  packages/kernel/src/client.ts
Due: prettier, eslint

Change reason before awaiting for mutex release
  packages/kernel/src/client.ts
Due: prettier, eslint

Restore execute_reply, use metadata to prevent erroneous short-circuit
  packages/kernel/src/client.ts
Due: prettier, eslint

Remove unnecessary type-cast
  packages/kernel/src/client.ts
Due: prettier, eslint

Add a UI test for interruption
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Add the test notebook
  ui-tests/contents/runall-interrupt.ipynb
Due: none

Lint notebook, use zero-based indices
  ui-tests/contents/runall-interrupt.ipynb
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

"More tests more better"
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Fix test
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Zero-based indexing strikes again:
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

handle server workspaces
  app/jupyterlite.schema.v0.json
  package.json
  packages/apputils/src/workspaces.ts
Due: prettier, eslint

update docs links
  docs/_templates/launch.html
  docs/index.md
Due: none

Fix typo in `cause`
  packages/kernel/src/client.ts
Due: prettier, eslint

add Python test
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
Due: none

Add a test for cancelling during restart
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Await for kernel to be ready
  packages/kernel/src/client.ts
Due: prettier, eslint

use bound instance methods for DriveFSEmscriptenNodeOps
  packages/contents/src/drivefs.ts
Due: prettier, eslint

backport #1688
  packages/contents/src/drivefs.ts
Due: prettier, eslint

dbg
  py/jupyterlite-core/jupyterlite_core/tests/test_serve.py
Due: none

Increase timeouts and retries in tests (#1691)
  py/jupyterlite-core/jupyterlite_core/tests/test_serve.py
Due: none

Backport PR #1691: Increase timeouts and retries in tests
  py/jupyterlite-core/jupyterlite_core/tests/test_serve.py
Due: none

Backport PR #1691: Increase timeouts and retries in tests (#1692)
  py/jupyterlite-core/jupyterlite_core/tests/test_serve.py
Due: none

use bound instance methods for DriveFSEmscriptenNodeOps (#1688)
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Add basic interrupt functionality (#1683)
  packages/kernel/src/client.ts
  ui-tests/contents/runall-interrupt.ipynb
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint
