Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

fix
  app/lab/package.json
  yarn.lock
Due: prettier

more fixes
  app/notebooks/package.json
  yarn.lock
Due: prettier

cleanup
  ui-tests/test/contents.test.ts
  ui-tests/test/notebook.test.ts
Due: prettier, eslint

Add jp-ThemedContainer
  app/index.template.html
Due: none

Publish 0.5.0a0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix outdated RTC docs
  app/jupyterlite.schema.v0.json
  docs/howto/configure/rtc.md
Due: prettier

Clean up handling of `collaborative` and `room`
  app/jupyterlite.schema.v0.json
  docs/howto/content/files.md
  examples/jupyter-lite.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

update migration guide
  docs/migration.md
Due: none

bump sphinx
  requirements-docs.txt
Due: none

Bump `sphinx` in the docs environment
  docs/environment.yml
Due: none

try without html_logo
  docs/conf.py
Due: none

wip
  docs/conf.py
Due: none

lint
  docs/conf.py
Due: none

Drop Python 3.8
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
Due: none

remove old navbar-logo
  docs/_templates/navbar-logo.html
Due: none

Bump `sphinx` in the docs environment (#1493)
  docs/_templates/navbar-logo.html
  docs/conf.py
  docs/environment.yml
  requirements-docs.txt
Due: none

Update to Python 3.12 for the dev environment and CI - Enable Python 3.12 testing on the CI - Update from Python 3.11 to Python 3.12 for the dev setup.
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
Due: none

Remove incorrect bump
  CONTRIBUTING.md
Due: none

Update mock-socket, fix session shutdown
  packages/kernel/package.json
  packages/kernel/src/kernels.ts
  packages/server/package.json
  packages/session/src/sessions.ts
  yarn.lock
Due: prettier, eslint

integrity
  app/lab/package.json
Due: prettier

Update to Python 3.12 for the dev environment and CI (#1462)
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
Due: none

bump ruff
  .binder/environment.yml
  requirements-lint.txt
Due: none

Update ruff
  docs/conf.py
  package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite-core/jupyterlite_core/addons/__init__.py
  py/jupyterlite-core/jupyterlite_core/addons/archive.py
  py/jupyterlite-core/jupyterlite_core/addons/base.py
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
  py/jupyterlite-core/jupyterlite_core/addons/lite.py
  py/jupyterlite-core/jupyterlite_core/addons/mimetypes.py
  py/jupyterlite-core/jupyterlite_core/addons/report.py
  py/jupyterlite-core/jupyterlite_core/addons/serve.py
  py/jupyterlite-core/jupyterlite_core/addons/settings.py
  py/jupyterlite-core/jupyterlite_core/addons/static.py
  py/jupyterlite-core/jupyterlite_core/addons/translation.py
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/jupyterlite_core/manager.py
  py/jupyterlite-core/jupyterlite_core/optional.py
  py/jupyterlite-core/jupyterlite_core/tests/test_archive.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
  py/jupyterlite-core/jupyterlite_core/tests/test_meta.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/jupyterlite/addons/base.py
  py/jupyterlite/jupyterlite/constants.py
  pyproject.toml
Due: prettier

address some ruff issues
  py/jupyterlite-core/jupyterlite_core/addons/base.py
  py/jupyterlite-core/jupyterlite_core/addons/icons.py
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
Due: none

handle session shutdown
  packages/kernel/src/kernels.ts
  packages/kernel/src/tokens.ts
  packages/session/src/sessions.ts
Due: prettier, eslint

ignore S202 for now
  py/jupyterlite-core/jupyterlite_core/addons/base.py
  py/jupyterlite-core/jupyterlite_core/tests/test_extend_addon.py
Due: none

add to migration guide
  docs/migration.md
Due: none

lint
  docs/migration.md
Due: none

Add UI test for kernel restarts
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Fix outdated RTC docs, clean up handling of the `collaborative` flag (#1536)
  app/jupyterlite.schema.v0.json
  docs/howto/configure/rtc.md
  docs/howto/content/files.md
  docs/migration.md
  examples/jupyter-lite.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Add Zulip badge to the README
  README.md
Due: none

lint
  README.md
  py/jupyterlite/README.md
Due: none

simplify URL
  README.md
  py/jupyterlite/README.md
Due: none

Drop Python 3.8 (#1537)
  .binder/environment.yml
  docs/conf.py
  docs/migration.md
  package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite-core/jupyterlite_core/addons/__init__.py
  py/jupyterlite-core/jupyterlite_core/addons/archive.py
  py/jupyterlite-core/jupyterlite_core/addons/base.py
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
  py/jupyterlite-core/jupyterlite_core/addons/federated_extensions.py
  py/jupyterlite-core/jupyterlite_core/addons/icons.py
  py/jupyterlite-core/jupyterlite_core/addons/lite.py
  py/jupyterlite-core/jupyterlite_core/addons/mimetypes.py
  py/jupyterlite-core/jupyterlite_core/addons/report.py
  py/jupyterlite-core/jupyterlite_core/addons/serve.py
  py/jupyterlite-core/jupyterlite_core/addons/settings.py
  py/jupyterlite-core/jupyterlite_core/addons/static.py
  py/jupyterlite-core/jupyterlite_core/addons/translation.py
  py/jupyterlite-core/jupyterlite_core/app.py
  py/jupyterlite-core/jupyterlite_core/config.py
  py/jupyterlite-core/jupyterlite_core/constants.py
  py/jupyterlite-core/jupyterlite_core/manager.py
  py/jupyterlite-core/jupyterlite_core/optional.py
  py/jupyterlite-core/jupyterlite_core/tests/test_archive.py
  py/jupyterlite-core/jupyterlite_core/tests/test_cli.py
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
  py/jupyterlite-core/jupyterlite_core/tests/test_extend_addon.py
  py/jupyterlite-core/jupyterlite_core/tests/test_federated.py
  py/jupyterlite-core/jupyterlite_core/tests/test_meta.py
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/jupyterlite/addons/base.py
  py/jupyterlite/jupyterlite/constants.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  requirements-lint.txt
Due: prettier

edit migration guide
  docs/migration.md
Due: none

Fix handling of sessions and kernels restarts (#1538)
  app/lab/package.json
  docs/migration.md
  packages/kernel/package.json
  packages/kernel/src/kernels.ts
  packages/kernel/src/tokens.ts
  packages/server/package.json
  packages/session/src/sessions.ts
  ui-tests/test/kernels.spec.ts
  yarn.lock
Due: prettier, eslint

Publish 0.5.0a1
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier
