Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

try pinning twine in build
  requirements-build.txt
Due: none

linting
  .github/workflows/build.yml
Due: none

Update to JupyterLab `4.5.0rc0`, Notebook `7.5.0rc0`, minimum python to 3.10, test on python 3.14 (#1769)
  .binder/environment.yml
  .github/workflows/build.yml
  .github/workflows/ui-tests.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  docs/howto/deployment/vercel-netlify.md
  docs/migration.md
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/addons/__init__.py
  py/jupyterlite-core/jupyterlite_core/tests/test_extend_addon.py
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/requirements.txt
  yarn.lock
Due: prettier

Publish 0.7.0b1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#1770)
  CONTRIBUTING.md
Due: none

Add the download entry to the file menu
  packages/application-extension/schema/download.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Add the download entry to the file menu (#1772)
  packages/application-extension/schema/download.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

small poc
  app/lab/package.json
  packages/application-extension/src/index.tsx
  packages/services-extension/src/index.ts
Due: prettier, eslint

fix yarn.lock
  yarn.lock
Due: none

pdf poc
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/services-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

Disable the notebook export plugin
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/tree/package.json
Due: prettier

cleanup
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/services-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

notebook export
  packages/services-extension/src/index.ts
Due: prettier, eslint

Add Executable script export
  packages/services-extension/src/index.ts
Due: prettier, eslint

add UI tests
  app/notebooks/package.json
  ui-tests/test/exporters.spec.ts
Due: prettier, eslint

Document usage of `pyodide-http` with xeus-python
  docs/howto/content/python.md
Due: none

Document usage of `pyodide-http` with xeus-python (#1773)
  docs/howto/content/python.md
Due: none

Backport PR #1773: Document usage of `pyodide-http` with xeus-python
  docs/howto/content/python.md
Due: none

Backport PR #1773: Document usage of `pyodide-http` with xeus-python (#1774)
  docs/howto/content/python.md
Due: none

Add .pixi to default ignore_contents (#1775)
  py/jupyterlite-core/jupyterlite_core/config.py
Due: none

Provide a custom export plugin (#1625)
  app/consoles/package.json
  app/edit/package.json
  app/tree/package.json
  packages/services-extension/src/index.ts
  ui-tests/test/exporters.spec.ts
Due: prettier, eslint

Update to JupyterLab 4.5.0rc1 and Notebook 7.5.0rc1
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Update to JupyterLab 4.5.0rc1 and Notebook 7.5.0rc1 (#1776)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

fixes
  docs/migration.md
  packages/apputils/src/typings.d.ts
  packages/apputils/tsconfig.json
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
  packages/server/tsconfig.json
Due: prettier, eslint

more fixes
  packages/_metapackage/package.json
  packages/application-extension/src/index.tsx
  packages/localforage/src/tokens.ts
  packages/server/package.json
  packages/services/src/kernel/tokens.ts
  tsconfig.typedoc.json
  typedoc.json
  yarn.lock
Due: prettier, eslint

lint
  packages/services/src/kernel/tokens.ts
Due: prettier, eslint

fix link to services
  packages/apputils/tsconfig.json
Due: prettier

fix link
  docs/migration.md
Due: none

shared packages
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  yarn.lock
Due: prettier, eslint

fix docs
  docs/reference/contents.md
Due: none

Expose `INbConverExporters` to register custom exporters
  packages/services-extension/src/index.ts
  packages/services/src/index.ts
  packages/services/src/nbconvert/exporters.ts
  packages/services/src/nbconvert/index.ts
  packages/services/src/nbconvert/manager.ts
  packages/services/src/nbconvert/tokens.ts
Due: prettier, eslint

fix api
  packages/services-extension/src/index.ts
  packages/services/src/nbconvert/manager.ts
  packages/services/src/nbconvert/tokens.ts
Due: prettier, eslint

add docs
  docs/howto/extensions/custom-exporters.md
  docs/howto/index.md
Due: none

fix link
  docs/howto/extensions/custom-exporters.md
Due: none

Support atime, ctime, mtime, requestId
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  packages/services/src/contents/drivefs.ts
  packages/services/src/contents/emscripten.ts
Due: prettier, eslint

use dev pyodide kernel
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

fix getattr
  packages/services/src/contents/drivefs.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
