Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

bump
  examples/jupyter_lite_config.json
Due: prettier

Update jupyterlite-pyodide-kernel version
  ui-tests/requirements.txt
Due: none

update demo site
  examples/jupyter_lite_config.json
Due: prettier

Update to jupyterlite-pyodide-kernel==0.7.0a3
  ui-tests/requirements.txt
Due: none

update to 0.7.0a5
  ui-tests/requirements.txt
Due: none

Update jupyter_lite_config.json to use new kernel version
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0a5` (#1741)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Use Node.js 24 / npm 11 to publish releases
  .github/workflows/publish-release.yml
Due: none

Update to JupyterLab 4.5.0b1 and Notebook 7.5.0b1
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

try re-enabling firefox test
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

bump notebook conda dep
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab 4.5.0b1 and Notebook 7.5.0b1 (#1760)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/test/renderers.spec.ts
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Fix links to local files in Markdown (#1740)
  packages/apputils-extension/src/urlresolver.ts
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Use Node.js 24 / npm 11 to publish releases (#1759)
  .github/workflows/publish-release.yml
Due: none

Backport PR #1759: Use Node.js 24 / npm 11 to publish releases
  .github/workflows/publish-release.yml
Due: none

Backport PR #1759: Use Node.js 24 / npm 11 to publish releases (#1761)
  .github/workflows/publish-release.yml
Due: none

Implement ContentProviderRegistry interface
  packages/contents/src/drive.ts
Due: prettier, eslint

Update packages/contents/src/drive.ts
  packages/contents/src/drive.ts
Due: prettier, eslint

Apply suggestion from @martinRenou
  packages/contents/src/drive.ts
Due: prettier, eslint

Publish 0.7.0b0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0b0`
  ui-tests/requirements.txt
Due: none

Update in demo site
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0b0` (#1763)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Fix schema name to match the extension it uses
  packages/application-extension/schema/download.json
Due: prettier

Fix schema name to match the extension it uses (#1764)
  packages/application-extension/schema/download.json
Due: prettier

Add .pixi to default ignore_contents
  py/jupyterlite-core/jupyterlite_core/config.py
Due: none

Update to JupyterLab 4.5.0rc0 and Notebook 7.5.0rc0
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

Updates
  .binder/environment.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  ui-tests/requirements.txt
Due: none

more fixes
  .binder/environment.yml
  docs/environment.yml
  examples/jupyter_lite_config.json
  py/jupyterlite-core/pyproject.toml
Due: prettier

fix typo
  examples/jupyter_lite_config.json
Due: prettier

bump minimum python to 3.10
  .github/workflows/build.yml
  docs/howto/deployment/vercel-netlify.md
  docs/migration.md
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

remove importlib_metadata
  .binder/environment.yml
  .github/workflows/build.yml
  .github/workflows/ui-tests.yml
  docs/environment.yml
  py/jupyterlite-core/jupyterlite_core/addons/__init__.py
  py/jupyterlite-core/jupyterlite_core/tests/test_extend_addon.py
  py/jupyterlite-core/pyproject.toml
  requirements-build.txt
Due: none

linting
  py/jupyterlite-core/jupyterlite_core/addons/__init__.py
Due: none

try conditional pycparser dep for pypy
  py/jupyterlite-core/pyproject.toml
Due: none

linting, fix docstring
  py/jupyterlite-core/jupyterlite_core/addons/__init__.py
Due: none

try inverting conditional dep
  py/jupyterlite-core/pyproject.toml
Due: none

try whitespace
  py/jupyterlite-core/pyproject.toml
Due: none

back to comparison, forgot impact of --no-index
  .github/workflows/build.yml
  py/jupyterlite-core/pyproject.toml
Due: none

also --prefer-binary
  .github/workflows/build.yml
Due: none
