Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Revert "more timeouts"
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
Due: prettier, eslint

Revert "increase timeouts for firefox"
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/notebook.spec.ts
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

increase timeouts for firefox
  ui-tests/test/contents.spec.ts
  ui-tests/test/kernels.spec.ts
  ui-tests/test/notebook.spec.ts
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Update to `jupyterlite-pyodide-kernel==0.7.0a0`
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

more timeouts
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
Due: prettier, eslint

Update logs in the pyodide tests
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

update demo site with dev pyodide kernel
  examples/jupyter_lite_config.json
Due: prettier

try with dev pyodide kernel
  ui-tests/requirements.txt
Due: none

Update requirements.txt
  ui-tests/requirements.txt
Due: none

typo
  ui-tests/requirements.txt
Due: none

Update jupyter_lite_config.json
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0a1` (#1694)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Base64-encode images from local storage for Markdown rendering
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

also ignore atime for now
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Update to JupyterLab 4.5.0a3
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Update resolutions
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Update to Notebook 7.5.0a2
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/tree/package.json
  packages/notebook-application-extension/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Update dependencies in `docs/environment.yml`
  docs/environment.yml
Due: none

Fix `@jupyterlab/apputils` resolution
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/repl-extension/package.json
  yarn.lock
Due: prettier

Update notebook in ui-tests
  ui-tests/requirements.txt
Due: none

Update to JupyterLab 4.5.0a3 and Notebook 7.5.0a2 (#1710)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Add a draft test
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Keep the test snapshot size reasonable
  ui-tests/test/renderers.spec.ts
Due: prettier, eslint

Fix handling of binary images
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Add test snapshots
  ui-tests/test/renderers.spec.ts-snapshots/image-in-markdown-chromium-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/image-in-markdown-firefox-linux.png
Due: none

Ensure the contents get returned
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Add `.avif` and `.apng` after cross-checking with
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Remove unused line
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Fix workspaces docs
  docs/howto/configure/workspaces.md
Due: none

Fix workspaces docs (#1711)
  docs/howto/configure/workspaces.md
Due: none

Use `PathExt.extname`
  packages/apputils-extension/src/urlresolver.ts
Due: prettier, eslint

Show images from local storage in Markdown (`base64`-encoded) (#1707)
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/urlresolver.ts
  ui-tests/test/renderers.spec.ts
  ui-tests/test/renderers.spec.ts-snapshots/image-in-markdown-chromium-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/image-in-markdown-firefox-linux.png
Due: prettier, eslint

Publish 0.7.0a4
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

use timestamp for mtime
  packages/contents/src/drivefs.ts
Due: prettier, eslint

Fix: Drive issue on rewritting JSON file
  packages/contents/src/drivecontents.ts
Due: prettier, eslint

Add test
  ui-tests/contents/file-access-3.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Fix: Drive issue on rewritting JSON file (#1714)
  packages/contents/src/drivecontents.ts
  ui-tests/contents/file-access-3.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Backport PR #1714: Fix: Drive issue on rewritting JSON file
  packages/contents/src/drivecontents.ts
  ui-tests/contents/file-access-3.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Fix: Drive issue when writing a previously created file
  packages/contents/src/drivecontents.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
Due: prettier, eslint
