Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

try
  docs/reference/api/index.md
  dodo.py
Due: none

..
  docs/reference/api/index.md
  dodo.py
Due: none

.
  docs/reference/api/index.md
  dodo.py
Due: none

.
  dodo.py
Due: none

align deps
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  yarn.lock
Due: prettier

Remove top-level `resolutions` (#1620)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  docs/reference/api/index.md
  dodo.py
  package.json
  typedoc.json
  yarn.lock
Due: prettier

Improve error message for when jupyter-server is not installed
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
Due: none

lint
  docs/migration.md
Due: none

Add note to the migration guide
  docs/migration.md
Due: none

Move error
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
Due: none

check if contents is passed
  docs/migration.md
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
Due: none

test
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

use env var
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

lint
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

update migration guide
  docs/migration.md
Due: none

Improve error message for when jupyter-server is not installed (#1401)
  docs/migration.md
  py/jupyterlite-core/jupyterlite_core/addons/contents.py
  py/jupyterlite-core/jupyterlite_core/tests/test_contents.py
Due: none

settingsStorageName
  app/jupyterlite.schema.v0.json
  docs/howto/configure/storage.md
  docs/howto/content/files.md
  docs/migration.md
  packages/services-extension/src/index.ts
Due: prettier, eslint

Update the default contents storage name
  packages/services-extension/src/index.ts
Due: prettier, eslint

docs
  docs/migration.md
Due: none

fix
  packages/services-extension/src/index.ts
Due: prettier, eslint

wording
  docs/migration.md
Due: none

Disable the notebook export plugin
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/tree/package.json
Due: prettier

Fix handling of contents when multiple lite sites are shared under the same host (#1612)
  app/jupyterlite.schema.v0.json
  docs/howto/configure/storage.md
  docs/howto/content/files.md
  docs/migration.md
  packages/services-extension/src/index.ts
Due: prettier, eslint

small poc
  app/lab/package.json
  packages/application-extension/src/index.tsx
  packages/services-extension/src/index.ts
Due: prettier, eslint

pdf poc
  packages/application-extension/package.json
  packages/application-extension/src/index.tsx
  packages/services-extension/src/index.ts
  yarn.lock
Due: prettier, eslint

Fix more Service Worker communication issues
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

use addEventListener
  packages/server/src/service-worker.ts
Due: prettier, eslint

UI tests for concurrent execution
  ui-tests/contents/file-access-1.ipynb
  ui-tests/contents/file-access-2.ipynb
  ui-tests/contents/file-access.ipynb
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

lint
  ui-tests/contents/file-access-1.ipynb
  ui-tests/contents/file-access-2.ipynb
Due: none

update test notebook
  ui-tests/contents/file-access-2.ipynb
Due: none

tweaks
  packages/server/src/service-worker.ts
Due: prettier, eslint

Fix concurrent file system access from multiple tabs (#1627)
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  ui-tests/contents/file-access-1.ipynb
  ui-tests/contents/file-access-2.ipynb
  ui-tests/contents/file-access.ipynb
  ui-tests/test/service-worker.test.ts
Due: prettier, eslint

Publish 0.6.0a9
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Stabilize UI tests
  ui-tests/test/notebook.test.ts
Due: prettier, eslint

fix waitForApplication
  ui-tests/test/notebook.test.ts
Due: prettier, eslint

Stabilize UI tests (#1628)
  ui-tests/test/notebook.test.ts
Due: prettier, eslint

Use consistent filenames for UI test
  ui-tests/test/contents.spec.ts
  ui-tests/test/embed.spec.ts
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/general.spec.ts
  ui-tests/test/general.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-chromium-linux.png
  ui-tests/test/general.spec.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/nojs.spec.ts
  ui-tests/test/notebook.spec.ts
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/imageviewer-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/notebook-as-json-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/notebook-as-json-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/renderers.spec.ts
  ui-tests/test/renderers.spec.ts-snapshots/latex-chromium-linux.png
  ui-tests/test/renderers.spec.ts-snapshots/latex-firefox-linux.png
  ui-tests/test/repl.spec.ts
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-firefox-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
  ui-tests/test/service-worker.spec.ts
  ui-tests/test/translations.spec.ts
Due: prettier, eslint
