Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

fix indicator visibility
  app/bootstrap.js
  app/index.template.html
Due: prettier, eslint

Add test
  ui-tests/test/page.spec.ts
Due: prettier, eslint

Add a loading indicator (#1636)
  app/bootstrap.js
  app/index.template.html
  app/index.template.js
  app/jupyterlite.schema.v0.json
  app/lab/jupyter-lite.json
  ui-tests/test/page.spec.ts
Due: prettier, eslint

add context menu entry
  packages/application-extension/schema/clear-browser-data.json
  packages/application-extension/src/index.tsx
Due: prettier, eslint

minor cleanup
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
Due: prettier, eslint

update troubleshooting
  docs/troubleshooting.md
Due: none

Add a plugin to clear browser data (settings and files) (#1638)
  docs/troubleshooting.md
  packages/application-extension/package.json
  packages/application-extension/schema/clear-browser-data.json
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
  packages/application-extension/style/base.css
  packages/contents/src/drive.ts
  packages/settings/src/settings.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Update to JupyterLab 4.4.2 and Notebook 7.4.2
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/requirements.txt
  yarn.lock
Due: prettier

Update in ui-tests
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

bump notebook
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab 4.4.2 and Notebook 7.4.2 (#1643)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Toolbar item to show the kernel logs
  docs/images/jupyterlite-kernel-status.png
  docs/troubleshooting.md
  examples/jupyter_lite_config.json
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/kernel-status.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  ui-tests/requirements.txt
  ui-tests/test/kernels.spec.ts
  yarn.lock
Due: prettier, eslint

patch fileeditor extension
  .gitignore
  .yarn/patches/@jupyterlab-fileeditor-extension-npm-4.4.2-8e26958be6.patch
  package.json
  yarn.lock
Due: prettier

length check
  packages/apputils-extension/src/kernelstatus.tsx
Due: prettier, eslint

add test to check for error
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Support kernel stdin request via ServiceWorker and SharedArrayBuffer
  app/lab/favicon.ico
  packages/application-extension/src/index.tsx
  packages/kernel/src/client.ts
  packages/kernel/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

Use '/api/stdin/whatever' instead of '/stdin/whatever'
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Add playwright test using pyodide kernel
  ui-tests/contents/stdin.ipynb
  ui-tests/requirements.txt
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Document use of `any` for `stdin` callbacks
  packages/server/src/service-worker-manager.ts
  packages/server/src/tokens.ts
Due: prettier, eslint

Lint test notebook
  ui-tests/contents/stdin.ipynb
Due: none

Skip stdin tests on firefox
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Use pyodide-kernel PR 183 package in demo site
  examples/jupyter_lite_config.json
Due: prettier

Debug - reenable all firefox ui-tests
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Use longer timeout for pyodide test
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Update to `jupyterlite-pyodide-kernel==0.6.0a6`
  ui-tests/requirements.txt
Due: none

Update jupyter_lite_config.json
  examples/jupyter_lite_config.json
Due: prettier

Support kernel `stdin` request via ServiceWorker and SharedArrayBuffer (#1640)
  app/lab/favicon.ico
  examples/jupyter_lite_config.json
  packages/application-extension/src/index.tsx
  packages/kernel/src/client.ts
  packages/kernel/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
  ui-tests/contents/stdin.ipynb
  ui-tests/requirements.txt
  ui-tests/test/kernels.spec.ts
Due: prettier, eslint

Publish 0.6.0a10
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Toolbar item to show the kernel logs
  .gitignore
  .yarn/patches/@jupyterlab-fileeditor-extension-npm-4.4.2-8e26958be6.patch
  docs/images/jupyterlite-kernel-status.png
  docs/troubleshooting.md
  package.json
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/kernel-status.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  ui-tests/test/kernels.spec.ts
  yarn.lock
Due: prettier, eslint

use dev build
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

fix version
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Remove triple slash references
  packages/contents/src/emscripten.ts
  packages/contents/tsconfig.json
  packages/server/package.json
  packages/server/src/service-worker.ts
  packages/server/tsconfig.json
  yarn.lock
Due: prettier, eslint

Remove triple slash references (#1645)
  packages/contents/src/emscripten.ts
  packages/contents/tsconfig.json
  packages/server/package.json
  packages/server/src/service-worker.ts
  packages/server/tsconfig.json
  yarn.lock
Due: prettier, eslint

bump pyodide
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

fix
  examples/jupyter_lite_config.json
Due: prettier

Toolbar item to show the kernel logs (#1642)
  .gitignore
  .yarn/patches/@jupyterlab-fileeditor-extension-npm-4.4.2-8e26958be6.patch
  docs/images/jupyterlite-kernel-status.png
  docs/troubleshooting.md
  examples/jupyter_lite_config.json
  package.json
  packages/apputils-extension/package.json
  packages/apputils-extension/schema/kernel-status.json
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/style/base.css
  packages/apputils-extension/style/index.css
  packages/apputils-extension/style/index.js
  ui-tests/requirements.txt
  ui-tests/test/kernels.spec.ts
  yarn.lock
Due: prettier, eslint

Publish 0.6.0b0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update docs for interacting with an IFrame
  docs/howto/configure/advanced/iframe.md
Due: none

fix title
  docs/howto/configure/advanced/iframe.md
Due: none

Update docs for interacting with JupyterLite in an IFrame (#1648)
  docs/howto/configure/advanced/iframe.md
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
