Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Add a partially functional local event manager (#1481)
  packages/server/src/app.ts
Due: prettier, eslint

Ping service worker every 20s (#1489)
  packages/server/src/service-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Publish 0.4.2
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

feat: update deploy script to avoid modifying .bashrc and configure micromamba directly
  docs/howto/deployment/vercel-netlify.md
Due: none

Update docs/howto/deployment/vercel-netlify.md
  docs/howto/deployment/vercel-netlify.md
Due: none

Fix deployment issue by removing reliance on .bashrc for Vercel and Netlify environments (#1491)
  docs/howto/deployment/vercel-netlify.md
Due: none

Bump `sphinx` in the docs environment
  docs/environment.yml
Due: none

Emit an Event.Emission that mimics the back-end
  packages/server/src/app.ts
Due: prettier, eslint

Emit an Event.Emission that mimics the back-end (#1494)
  packages/server/src/app.ts
Due: prettier, eslint

handle binary file chunks
  packages/contents/src/contents.ts
Due: prettier, eslint

Unregistering should be completed before registering new service worker
  packages/server/src/service-manager.ts
Due: prettier, eslint

bump sphinx
  requirements-docs.txt
Due: none

run jlpm lint
  packages/contents/src/contents.ts
Due: prettier, eslint

Unregistering all in one Promise.all
  packages/server/src/service-manager.ts
Due: prettier, eslint

handle binary file chunks (#1497)
  packages/contents/src/contents.ts
Due: prettier, eslint

Service worker unregistering should be completed before registering new service worker (#1495)
  packages/server/src/service-manager.ts
Due: prettier, eslint

Publish 0.4.3
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Align kernel URL for server with client kernel URL
  packages/kernel/src/kernels.ts
Due: prettier, eslint

Lint the code
  packages/kernel/src/kernels.ts
Due: prettier, eslint

Align kernel URL for server with client kernel URL (#1509)
  packages/kernel/src/kernels.ts
Due: prettier, eslint

add size attribute
  packages/contents/src/drivefs.ts
  packages/contents/src/emscripten.ts
Due: prettier, eslint

set size property
  packages/contents/src/contents.ts
Due: prettier, eslint

update size at the same time as content
  packages/contents/src/contents.ts
Due: prettier, eslint

Block malicious looking requests to prevent path traversal attacks.
  scripts/serve.js
Due: prettier, eslint

Update download logic so that it relies on mimetype instead of content.type
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Linter
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Add custom filetype test
  ui-tests/contents/test.customfile
  ui-tests/jupyter_lite_config.json
  ui-tests/test/contents.test.ts
Due: prettier, eslint

Misplaced test
  ui-tests/test/contents.test.ts
Due: prettier, eslint

Debugging
  ui-tests/test/contents.test.ts
Due: prettier, eslint

Debug
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Debug more
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Rework a bit the logic
  packages/application-extension/src/index.tsx
Due: prettier, eslint

More error handling
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Linter
  packages/application-extension/src/index.tsx
  ui-tests/test/contents.test.ts
Due: prettier, eslint

Debug test
  ui-tests/test/contents.test.ts
Due: prettier, eslint

Arffff
  ui-tests/test/contents.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

Invalid json
  ui-tests/contents/test.customfile
Due: none
