Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

fix: comments in dockerfile
  Dockerfile
Due: none

Fix a few typos in documentation
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/config_files.md
  docs/howto/configure/interface_switcher.md
  docs/howto/configure/simple_extensions.md
  docs/howto/extensions/cli-addons.md
  docs/migration.md
  docs/quickstart/configure.md
  docs/quickstart/using.md
  examples/pyodide/python-packages.ipynb
Due: none

Pin to `jupyterlab<4.1.0`
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite-javascript-kernel/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

Pin to `jupyterlab<4.1.0` (#1306)
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite-javascript-kernel/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
Due: none

Pin `pytest<8` for pypy
  .github/workflows/build.yml
Due: none

lint
  .github/workflows/build.yml
Due: none

add info to GITHUB_STEP_SUMMARY
  .github/workflows/build.yml
Due: none

Pin `pytest<8` for pypy (#1309)
  .github/workflows/build.yml
Due: none

Fix a few typos in documentation (#1305)
  docs/howto/configure/advanced/extensions.md
  docs/howto/configure/config_files.md
  docs/howto/configure/interface_switcher.md
  docs/howto/configure/simple_extensions.md
  docs/howto/extensions/cli-addons.md
  docs/migration.md
  docs/quickstart/configure.md
  docs/quickstart/using.md
  examples/pyodide/python-packages.ipynb
Due: none

Update xeus python documentation
  CONTRIBUTING.md
  docs/howto/configure/kernels.md
  docs/howto/extensions/kernel.md
  docs/howto/xeus-python/preinstalled_packages.md
  docs/migration.md
  docs/quickstart/using.md
Due: none

Update docs/howto/configure/kernels.md
  docs/howto/configure/kernels.md
Due: none

Update xeus python documentation (#1310)
  CONTRIBUTING.md
  docs/howto/configure/kernels.md
  docs/howto/extensions/kernel.md
  docs/howto/xeus-python/preinstalled_packages.md
  docs/migration.md
  docs/quickstart/using.md
Due: none

Update to the latest stable packages
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/javascript-kernel/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-javascript-kernel/package.json
  yarn.lock
Due: prettier

Update galata
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

filebrowser galata workaround
  ui-tests/test/notebook.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

update snapshots
  ui-tests/test/embed.test.ts-snapshots/embed-repl-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/csvviewer-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/imageviewer-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/imageviewer-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/notebook-as-json-firefox-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-firefox-linux.png
  ui-tests/test/renderers.test.ts-snapshots/latex-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/repl.test.ts-snapshots/page-firefox-linux.png
Due: none

try fix directory check
  ui-tests/test/contents.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

await filebrowser refresh
  ui-tests/test/contents.test.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

add note to the migration guide
  docs/migration.md
Due: none

Update url to notebook 7.1.0
  examples/jupyter_lite_config.json
Due: prettier

fix notebook dep in ui-tests
  ui-tests/requirements.txt
Due: none

bump pyodide-kernel
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

try increase timeout
  ui-tests/test/kernels.spec.ts
  ui-tests/test/notebook.test.ts
  ui-tests/test/renderers.test.ts
Due: prettier, eslint

Remove `jupyterlite-javascript-kernel`
  .gitignore
  docs/howto/extensions/frontend.md
  docs/quickstart/using.md
  dodo.py
  examples/jupyter_lite_config.json
  package.json
  packages/_metapackage/package.json
  packages/_metapackage/src/index.ts
  packages/javascript-kernel/babel.config.js
  packages/javascript-kernel/jest.config.js
  packages/javascript-kernel/package.json
  packages/javascript-kernel/src/comlink.worker.ts
  packages/javascript-kernel/src/index.ts
  packages/javascript-kernel/src/kernel.ts
  packages/javascript-kernel/src/tokens.ts
  packages/javascript-kernel/src/worker.ts
  packages/javascript-kernel/style/base.css
  packages/javascript-kernel/style/index.css
  packages/javascript-kernel/style/index.js
  packages/javascript-kernel/test/jskernel.spec.ts
  packages/javascript-kernel/tsconfig.json
  packages/javascript-kernel/tsconfig.test.json
  py/jupyterlite-javascript-kernel/LICENSE
  py/jupyterlite-javascript-kernel/README.md
  py/jupyterlite-javascript-kernel/jupyterlite_javascript_kernel/__init__.py
  py/jupyterlite-javascript-kernel/package.json
  py/jupyterlite-javascript-kernel/pyproject.toml
  py/jupyterlite-javascript-kernel/setup.py
  py/jupyterlite-javascript-kernel/src/index.ts
  py/jupyterlite-javascript-kernel/tsconfig.json
  py/jupyterlite/pyproject.toml
  pyproject.toml
  requirements-editable.txt
  yarn.lock
Due: prettier, eslint

more cleanups
  packages/_metapackage/tsconfig.json
  tsconfig.typedoc.json
  typedoc.json
  ui-tests/requirements.txt
Due: prettier

clean up scripts
  .github/workflows/build.yml
  package.json
  ui-tests/package.json
Due: prettier

remove javascript kernelspecs logo
  app/kernelspecs/javascript.svg
  examples/javascript.ipynb
Due: none

restore jlpm step
  .github/workflows/build.yml
Due: none

update migration guide
  docs/migration.md
Due: none

Bump to `jupyterlite-javascript-kernel==0.3.0a0` in UI tests
  ui-tests/requirements.txt
Due: none

update snapshots
  ui-tests/test/general.test.ts-snapshots/dark-theme-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-firefox-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-firefox-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-firefox-linux.png
Due: none

fix link
  docs/migration.md
Due: none

Publish 0.3.0a0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Bump to `jupyterlite-javascript-kernel==0.3.0a1` in ui-tests
  ui-tests/requirements.txt
Due: none

Update pyodide kernel
  ui-tests/requirements.txt
Due: none

Bump UI tests dependencies (#1314)
  ui-tests/requirements.txt
Due: none

Enable the notifications plugin in Notebook 7
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier
