Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Update to JupyterLab `4.4.0rc1` and Notebook `7.4.0rc0`
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

more bumps
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

add log console to /notebooks
  app/notebooks/package.json
Due: prettier

Debug
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Try without await
  packages/server/src/service-worker.ts
Due: prettier, eslint

remove
  packages/server/src/service-worker.ts
Due: prettier, eslint

Debug
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Rework registration
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Iterate
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Missing setting current controller
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Without skipwaiting
  packages/server/src/service-worker.ts
Due: prettier, eslint

Force reload if failing to register service worker...
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Linting
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Bring back logs
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

bump notebook conda dep
  .binder/environment.yml
  docs/environment.yml
Due: none

Update to JupyterLab `4.4.0rc1` and Notebook `7.4.0rc0` (#1613)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

settingsStorageName
  app/jupyterlite.schema.v0.json
  docs/howto/configure/storage.md
  docs/howto/content/files.md
  docs/migration.md
  packages/services-extension/src/index.ts
Due: prettier, eslint

Update the default contents storage name
  packages/services-extension/src/index.ts
Due: prettier, eslint

fix
  packages/services-extension/src/index.ts
Due: prettier, eslint

docs
  docs/migration.md
Due: none

Prompt refreshing outdated pages
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Add another check
  packages/server/src/service-worker.ts
Due: prettier, eslint

Linter
  packages/server/src/service-worker.ts
Due: prettier, eslint

Remove debug logs
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Add doit dev command to docs (#1611)
  CONTRIBUTING.md
Due: none

Update to JupyterLab 4.4
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  yarn.lock
Due: prettier

update Lumino
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  yarn.lock
Due: prettier

Remove top-level `resolutions`
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  yarn.lock
Due: prettier

bump
  package.json
  yarn.lock
Due: prettier

more bumps
  package.json
  yarn.lock
Due: prettier

add plugin
  typedoc.json
Due: prettier

lint
  typedoc.json
Due: prettier

Update Notebook
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/tree/package.json
  packages/notebook-application-extension/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  yarn.lock
Due: prettier

clean up conda-forge
  .binder/environment.yml
  docs/environment.yml
Due: none

bump in UI tests
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
Due: prettier

Update to JupyterLab 4.4 and Jupyter Notebook 7.4 (#1619)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

debug galata
  packages/server/src/service-worker-manager.ts
Due: prettier, eslint

Revert "Use a `MessageChannel` instead of `BroadcastChannel` to communicate with the Service Worker (#1608)"
  docs/migration.md
  docs/reference/contents.md
  examples/jupyter_lite_config.json
  packages/application-extension/src/index.tsx
  packages/application-extension/tsconfig.json
  packages/contents/src/broadcast.ts
  packages/contents/src/drivefs.ts
  packages/contents/src/index.ts
  packages/contents/src/tokens.ts
  packages/server/src/service-worker-manager.ts
  packages/server/src/service-worker.ts
  packages/server/src/tokens.ts
  py/jupyterlite-core/jupyterlite_core/addons/base.py
Due: prettier, eslint

Test with originId
  packages/application-extension/tsconfig.json
  packages/contents/src/broadcast.ts
  packages/contents/src/drivefs.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

uuid
  packages/contents/src/broadcast.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
