Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

Enable the notifications plugin in Notebook 7 (#1325)
  app/consoles/package.json
  app/edit/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
Due: prettier

Update offline guide to mention xeus python
  docs/howto/configure/advanced/offline.md
Due: none

Update offline guide to mention xeus python (#1326)
  docs/howto/configure/advanced/offline.md
Due: none

Update to the JupyterLab 4.1.2 and Notebook 7.1.1 packages
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

bump galata
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Update to the JupyterLab 4.1.2 and Notebook 7.1.1 packages (#1327)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.3.0a1
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Add seaborn example
  examples/pyolite/seaborn.ipynb
Due: none

Move to the right folder
  examples/pyodide/seaborn.ipynb
Due: none

Add seaborn example (#940)
  examples/pyodide/seaborn.ipynb
Due: none

Mock /api/config endpoint
  packages/server-extension/src/index.ts
Due: prettier, eslint

store sections in memory
  packages/server-extension/src/index.ts
Due: prettier, eslint

test with tour
  examples/jupyter_lite_config.json
Due: prettier

undo tour
  examples/jupyter_lite_config.json
Due: prettier

Re-add `jupyterlab-tour` (#1258)
  .binder/environment.yml
  docs/howto/configure/simple_extensions.md
  examples/jupyter_lite_config.json
Due: prettier

Mock `/api/config` endpoint (#1329)
  packages/server-extension/src/index.ts
Due: prettier, eslint

Publish 0.3.0b0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Bump to `jupyterlab-tour==4.0.1`
  .binder/environment.yml
  docs/howto/configure/simple_extensions.md
  examples/jupyter_lite_config.json
Due: prettier

Bump to `jupyterlab-tour==4.0.1` (#1330)
  .binder/environment.yml
  docs/howto/configure/simple_extensions.md
  examples/jupyter_lite_config.json
Due: prettier

Unregistering old service workers when needed
  packages/server/src/service-manager.ts
Due: prettier, eslint

Removed old unregistering logic
  packages/server/src/service-manager.ts
Due: prettier, eslint

Fix comment
  packages/server/src/service-manager.ts
Due: prettier, eslint

Using appVersion from PageConfig
  packages/server/src/service-manager.ts
Due: prettier, eslint

Including scriptURL in stored version string
  packages/server/src/service-manager.ts
Due: prettier, eslint

Bump to `jupyterlite-pyodide-kernel==0.2.3` in the demo site
  examples/jupyter_lite_config.json
Due: prettier

Bump to `jupyterlite-pyodide-kernel==0.2.3` in the demo site (#1343)
  examples/jupyter_lite_config.json
Due: prettier

Unregistering old service workers when there is a new version (#1336)
  packages/server/src/service-manager.ts
Due: prettier, eslint

Publish 0.3.0rc0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to JupyterLab 4.1.5 and Notebook 7.1.2
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Update to JupyterLab 4.1.5 and Notebook 7.1.2 (#1349)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  yarn.lock
Due: prettier

Add option to enable the service worker cache
  packages/server/src/service-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Default to false
  packages/server/src/service-manager.ts
Due: prettier, eslint

default to false
  packages/server/src/service-manager.ts
Due: prettier, eslint

update description
  app/jupyterlite.schema.v0.json
Due: prettier

check on activate
  packages/server/src/service-worker.ts
Due: prettier, eslint

read option from the page config
  packages/server/src/service-manager.ts
Due: prettier, eslint

Add to migration guide
  app/jupyterlite.schema.v0.json
  docs/migration.md
Due: prettier

Add an option to enable the service worker cache (#1316)
  app/jupyterlite.schema.v0.json
  docs/migration.md
  packages/server/src/service-manager.ts
  packages/server/src/service-worker.ts
Due: prettier, eslint

Publish 0.3.0rc1
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to Python 3.11 for the dev environment
  .binder/environment.yml
  CONTRIBUTING.md
  docs/environment.yml
Due: none

Path conditions:
  prettier: any of: \.json$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
