Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Add noscript tag
  app/index.template.html
Due: none

no red
  app/index.template.html
Due: none

missing await
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

Add UI test for nojs
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

skip nojs test for now
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

add TODO
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

Add noscript tag (#1476)
  app/index.template.html
  ui-tests/test/nojs.test.ts
Due: prettier, eslint

Add `--with-deps`
  .github/workflows/playwright-update.yml
  .github/workflows/ui-tests.yml
Due: none

Add `webkit` reference snapshots
  ui-tests/test/embed.test.ts-snapshots/embed-repl-webkit-linux.png
  ui-tests/test/general.test.ts-snapshots/dark-theme-webkit-linux.png
  ui-tests/test/general.test.ts-snapshots/launch-webkit-linux.png
  ui-tests/test/general.test.ts-snapshots/simple-mode-webkit-linux.png
  ui-tests/test/kernels.spec.ts-snapshots/default-kernel-name-webkit-linux.png
  ui-tests/test/notebook.test.ts-snapshots/dark-theme-webkit-linux.png
  ui-tests/test/notebook.test.ts-snapshots/tree-webkit-linux.png
  ui-tests/test/repl.test.ts-snapshots/dark-theme-webkit-linux.png
  ui-tests/test/repl.test.ts-snapshots/page-webkit-linux.png
Due: none

Run UI tests on `webkit`
  .github/workflows/playwright-update.yml
  .github/workflows/ui-tests.yml
Due: none

Update to JupyterLab 4.3.4 and Notebook 7.3.2
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Bump notebook
  .binder/environment.yml
  docs/environment.yml
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
Due: none

Update to JupyterLab 4.3.4 and Notebook 7.3.2 (#1545)
  .binder/environment.yml
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.5.0a2
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Add Zulip badge to the README (#1539)
  README.md
  py/jupyterlite/README.md
Due: none

Bump `jupyterlite-pyodide-kernel`
  .binder/environment.yml
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

update channel
  .binder/environment.yml
Due: none

order
  .binder/environment.yml
Due: none

update channels
  .binder/environment.yml
Due: none

Bump `jupyterlite-pyodide-kernel` (#1546)
  .binder/environment.yml
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

Allow not executing code with the repl
  packages/repl-extension/src/index.ts
Due: prettier, eslint

add to the docs
  docs/quickstart/embed-repl.md
Due: none

add ui test
  ui-tests/test/repl.test.ts
Due: prettier, eslint

fix test
  ui-tests/test/repl.test.ts
Due: prettier, eslint

Add snapshots
  ui-tests/test/repl.test.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.test.ts-snapshots/populate-prompt-firefox-linux.png
Due: none

Allow not executing code with the repl (#1547)
  docs/quickstart/embed-repl.md
  packages/repl-extension/src/index.ts
  ui-tests/test/repl.test.ts
  ui-tests/test/repl.test.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.test.ts-snapshots/populate-prompt-firefox-linux.png
Due: prettier, eslint

Publish 0.5.0b0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Increase nbformat_minor to 5 in contents package
  packages/contents/src/contents.ts
Due: prettier, eslint

Increase nbformat_minor to 5 in contents package (#1550)
  packages/contents/src/contents.ts
Due: prettier, eslint

Publish 0.5.0rc0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Publish 0.5.0
  CHANGELOG.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/licenses/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server-extension/package.json
  packages/server/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/translation/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Fix typo
  docs/quickstart/standalone.md
Due: none

Again
  docs/howto/configure/simple_extensions.md
Due: none

Fix typo in CLI addons doc
  docs/howto/extensions/cli-addons.md
Due: none

lint
  docs/howto/configure/simple_extensions.md
Due: none

Fix typo (#1555)
  docs/howto/configure/simple_extensions.md
  docs/quickstart/standalone.md
Due: none

Fix typo in CLI addons doc (#1558)
  docs/howto/extensions/cli-addons.md
Due: none

Bump Pyodide
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

update in environment
  .binder/environment.yml
Due: none
