Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, prettier, eslint

sync-readme:
  name: sync README to py/jupyterlite
  entry: cp README.md py/jupyterlite/README.md
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npm run prettier:fix
  language: node

eslint:
  name: eslint
  entry: npm run eslint:fix
  language: node

fix yarn.lock
  yarn.lock
Due: none

Update to JupyterLab 4.5.7 and Notebook 7.5.6 (#1936)
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  yarn.lock
Due: prettier

Publish 0.7.5
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Test opening audio and video files
  ui-tests/test/media.spec.ts
  ui-tests/test/uploads.spec.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

Test opening audio and video files (#1909)
  ui-tests/test/media.spec.ts
  ui-tests/test/uploads.spec.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

Fix service worker heartbeat bind so that it is called repeatedly
  packages/apputils/src/service-worker-manager.ts
Due: prettier, eslint

Fix getattr's size
  packages/services/src/contents/drive.ts
Due: prettier, eslint

Add test
  ui-tests/contents/file-attr-read.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Fix getattr's size (#1942)
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-attr-read.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Backport PR #1942: Fix getattr's size
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-attr-read.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Fix service worker heartbeat bind so that it is called repeatedly (#1940)
  packages/apputils/src/service-worker-manager.ts
Due: prettier, eslint

Backport PR #1940: Fix service worker heartbeat bind so that it is called repeatedly
  packages/apputils/src/service-worker-manager.ts
Due: prettier, eslint

Backport PR #1940: Fix service worker heartbeat bind so that it is called repeatedly (#1944)
  packages/apputils/src/service-worker-manager.ts
Due: prettier, eslint

Backport PR #1942: Fix getattr's size (#1943)
  packages/services/src/contents/drive.ts
  ui-tests/contents/file-attr-read.ipynb
  ui-tests/test/service-worker.spec.ts
Due: prettier, eslint

Publish 0.7.6
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

bump-eslint-version
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier, eslint

fix-lint
  packages/application-extension/src/index.tsx
Due: prettier, eslint

build:lib-before-checking-lint
  .github/workflows/build.yml
Due: prettier

Document piplite wheel flag examples
  docs/howto/pyodide/wheels.md
Due: prettier

bump-to-v1.0.1
  package.json
  yarn.lock
Due: prettier

remove-build-step
  .github/workflows/build.yml
Due: prettier

Bump `@jupyter/eslint-plugin` to `v1` (#1948)
  eslint.config.mjs
  package.json
  packages/application-extension/src/index.tsx
  yarn.lock
Due: prettier, eslint

rspack
  app/package.json
  app/rspack.config.analyze.js
  yarn.lock
Due: prettier, eslint

update snapshots
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
Due: none

update comment
  app/rspack.config.analyze.js
Due: prettier, eslint

Update to JupyterLab v4.6.0b0 and Notebook v7.6.0b0 (#1954)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/rspack.config.analyze.js
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/test/embed.spec.ts-snapshots/embed-repl-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/csvviewer-firefox-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/notebook.spec.ts-snapshots/tree-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/dark-theme-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/page-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-chromium-linux.png
  ui-tests/test/repl.spec.ts-snapshots/populate-prompt-firefox-linux.png
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Publish 0.8.0b0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

bump jupyter-builder
  app/package.json
  pyproject.toml
  yarn.lock
Due: prettier

relock pyodide
  examples/requirements-pyodide-lock.txt
Due: none

Replace loading indicator with JupyterLab splash-style spinner
  app/index.template.html
  ui-tests/test/page.spec.ts
Due: prettier, eslint

Update to pyodide-kernel 0.8.0b0 (#1916)
  .github/workflows/build.yml
  .prettierignore
  .readthedocs.yml
  CONTRIBUTING.md
  app/package.json
  examples/jupyter_lite_config.json
  examples/pyodide/altair.ipynb
  examples/pyodide/bqplot.ipynb
  examples/pyodide/folium.ipynb
  examples/pyodide/interactive-widgets.ipynb
  examples/pyodide/ipycanvas.ipynb
  examples/pyodide/ipycytoscape.ipynb
  examples/pyodide/ipyleaflet.ipynb
  examples/pyodide/ipympl.ipynb
  examples/pyodide/ipyvuetify.ipynb
  examples/pyodide/plotly.ipynb
  examples/pyodide/python-packages.ipynb
  examples/requirements-demo.txt
  examples/requirements-piplite.txt
  examples/requirements-pyodide-lock.txt
  pyproject.toml
  scripts/compile-lock-files.py
  yarn.lock
Due: prettier

update playwright
  ui-tests/package.json
  ui-tests/yarn.lock
Due: prettier

Replace loading indicator with JupyterLab splash-style spinner (#1963)
  app/index.template.html
  ui-tests/test/page.spec.ts
Due: prettier, eslint

UI tests HTML report
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
Due: prettier, eslint

skip readonly test for now
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

UI tests HTML report (#1965)
  .github/workflows/ui-tests.yml
  ui-tests/playwright.config.js
Due: prettier, eslint

stay on 1.0
  app/package.json
  yarn.lock
Due: prettier

Update to JupyterLab v4.6.0b1 and Notebook v7.6.0b1 (#1964)
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/repl/package.json
  app/tree/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  pyproject.toml
  ui-tests/package.json
  ui-tests/test/contents.spec.ts
  ui-tests/yarn.lock
  yarn.lock
Due: prettier, eslint

Publish 0.8.0b1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Reject contents writes to missing directories
  packages/services/src/contents/drive.ts
  ui-tests/test/contents.spec.ts
Due: prettier, eslint

Path conditions:
  sync-readme: any of: ^README\.md$
  prettier: any of: \.json$, \.(md|markdown|mdown)$, \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(yaml|yml)$
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
