Repository jupyterlite/jupyterlite: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

ci:
  # Same schedule interval as dependabot see .github/dependabot.yml
  autoupdate_schedule: monthly
  # skip any check that needs internet access
  skip: [prettier, eslint, stylelint]

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: forbid-new-submodules
      - id: end-of-file-fixer
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: trailing-whitespace
        exclude: (.bumpversion.cfg|yarn.js)

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.26.3
    hooks:
      - id: check-github-workflows

  # Check ruff version is aligned in .binder/environment.yml
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.7
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: 'npm run prettier:fix'
        language: node
        types_or: [json, ts, tsx, javascript, jsx, css]
      - id: eslint
        name: eslint
        entry: 'npm run eslint:fix'
        language: node
        types_or: [ts, tsx, javascript, jsx]

Support atime, ctime, mtime, requestId (#1781)
  examples/jupyter_lite_config.json
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/service-worker.ts
  packages/services/src/contents/drivefs.ts
  packages/services/src/contents/emscripten.ts
  ui-tests/requirements.txt
Due: prettier, eslint

Expose `INbConvertExporters` to register custom exporters (#1780)
  docs/howto/extensions/custom-exporters.md
  docs/howto/index.md
  packages/services-extension/src/index.ts
  packages/services/src/index.ts
  packages/services/src/nbconvert/exporters.ts
  packages/services/src/nbconvert/index.ts
  packages/services/src/nbconvert/manager.ts
  packages/services/src/nbconvert/tokens.ts
Due: prettier, eslint

Add user-facing changelog for 0.7.0
  docs/changelog.md
Due: none

Update to JupyterLab 4.5 and Notebook 7.5
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

fix
  app/jupyter-lite.json
Due: prettier

bump lab conda dep
  .binder/environment.yml
  docs/environment.yml
Due: none

update ui tests dependency
  ui-tests/requirements.txt
Due: none

Update notebook conda dep
  .binder/environment.yml
  docs/environment.yml
  examples/jupyter_lite_config.json
Due: prettier

Update to JupyterLab 4.5 and Notebook 7.5 (#1783)
  .binder/environment.yml
  CONTRIBUTING.md
  app/consoles/package.json
  app/edit/package.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/environment.yml
  examples/jupyter_lite_config.json
  package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/pyproject.toml
  py/jupyterlite/pyproject.toml
  requirements-build.txt
  requirements-docs.txt
  requirements-lint.txt
  ui-tests/package.json
  ui-tests/requirements.txt
  ui-tests/yarn.lock
  yarn.lock
Due: prettier

Publish 0.7.0rc0
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0rc0`
  ui-tests/requirements.txt
Due: none

Missing dependency from @jupyterlite/apputils on @jupyterlab/pluginmanager
  packages/apputils/package.json
  yarn.lock
Due: prettier

Linter: Enforce type imports when applicable
  .eslintrc.js
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
  packages/application/src/router.ts
  packages/application/src/singleWidgetApp.ts
  packages/application/src/singleWidgetShell.ts
  packages/application/test/shell.spec.ts
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/src/urlresolver.ts
  packages/apputils/src/licenses.ts
  packages/apputils/src/pluginmanager.ts
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/statedb.ts
  packages/apputils/src/tokens.ts
  packages/apputils/src/translation.ts
  packages/apputils/src/workspaces.ts
  packages/iframe-extension/src/index.ts
  packages/localforage/src/typings.d.ts
  packages/notebook-application-extension/src/index.ts
  packages/repl-extension/src/index.ts
  packages/services-extension/src/configsection.ts
  packages/services-extension/src/event.ts
  packages/services-extension/src/index.ts
  packages/services/src/contents/drive.ts
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/drivefs.ts
  packages/services/src/contents/tokens.ts
  packages/services/src/kernel/base.ts
  packages/services/src/kernel/client.ts
  packages/services/src/kernel/kernelspecclient.ts
  packages/services/src/kernel/kernelspecs.ts
  packages/services/src/kernel/tokens.ts
  packages/services/src/nbconvert/exporters.ts
  packages/services/src/nbconvert/manager.ts
  packages/services/src/nbconvert/tokens.ts
  packages/services/src/session/client.ts
  packages/services/src/settings/settings.ts
  ui-tests/test/renderers.spec.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

Missing dependency from @jupyterlite/apputils on (#1785)
  packages/apputils/package.json
  yarn.lock
Due: prettier

Linter: Enforce type imports when applicable (#1786)
  .eslintrc.js
  packages/application-extension/src/clear-data-dialog.tsx
  packages/application-extension/src/index.tsx
  packages/application/src/router.ts
  packages/application/src/singleWidgetApp.ts
  packages/application/src/singleWidgetShell.ts
  packages/application/test/shell.spec.ts
  packages/apputils-extension/src/index.tsx
  packages/apputils-extension/src/kernelstatus.tsx
  packages/apputils-extension/src/urlresolver.ts
  packages/apputils/src/licenses.ts
  packages/apputils/src/pluginmanager.ts
  packages/apputils/src/service-worker-manager.ts
  packages/apputils/src/statedb.ts
  packages/apputils/src/tokens.ts
  packages/apputils/src/translation.ts
  packages/apputils/src/workspaces.ts
  packages/iframe-extension/src/index.ts
  packages/localforage/src/typings.d.ts
  packages/notebook-application-extension/src/index.ts
  packages/repl-extension/src/index.ts
  packages/services-extension/src/configsection.ts
  packages/services-extension/src/event.ts
  packages/services-extension/src/index.ts
  packages/services/src/contents/drive.ts
  packages/services/src/contents/drivecontents.ts
  packages/services/src/contents/drivefs.ts
  packages/services/src/contents/tokens.ts
  packages/services/src/kernel/base.ts
  packages/services/src/kernel/client.ts
  packages/services/src/kernel/kernelspecclient.ts
  packages/services/src/kernel/kernelspecs.ts
  packages/services/src/kernel/tokens.ts
  packages/services/src/nbconvert/exporters.ts
  packages/services/src/nbconvert/manager.ts
  packages/services/src/nbconvert/tokens.ts
  packages/services/src/session/client.ts
  packages/services/src/settings/settings.ts
  ui-tests/test/renderers.spec.ts
  ui-tests/test/utils.ts
Due: prettier, eslint

Remove `SessionContext` workaround
  packages/application-extension/src/index.tsx
Due: prettier, eslint

update demo site
  examples/jupyter_lite_config.json
Due: prettier

fix typo
  examples/jupyter_lite_config.json
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0rc0` (#1784)
  examples/jupyter_lite_config.json
  ui-tests/requirements.txt
Due: prettier

add some screenshots
  docs/changelog.md
  docs/changelog_assets/0.7-jupyterlite-audio-video.png
  docs/changelog_assets/0.7-jupyterlite-basic-interrupt.png
  docs/changelog_assets/0.7-jupyterlite-basic-notebook-export.png
  docs/changelog_assets/0.7-jupyterlite-filemenu-download.png
Due: none

tweaks
  docs/changelog.md
  docs/changelog_assets/0.7-jupyterlite-workspaces.png
Due: none

note about content visibility
  docs/changelog.md
Due: none

fix images
  docs/changelog.md
  docs/changelog_assets/0.7-jupyterlite-basic-interrupt.png
  docs/changelog_assets/0.7-jupyterlite-basic-notebook-export.png
  docs/changelog_assets/0.7-jupyterlite-filemenu-download.png
Due: none

Add user-facing changelog for 0.7.0 (#1782)
  docs/changelog.md
  docs/changelog_assets/0.7-jupyterlite-audio-video.png
  docs/changelog_assets/0.7-jupyterlite-basic-interrupt.png
  docs/changelog_assets/0.7-jupyterlite-basic-notebook-export.png
  docs/changelog_assets/0.7-jupyterlite-filemenu-download.png
  docs/changelog_assets/0.7-jupyterlite-workspaces.png
Due: none

Remove `SessionContext` workaround (#1788)
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Publish 0.7.0rc1
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Add version compatibility table to the README
  README.md
Due: none

wording
  README.md
Due: none

Lint
  README.md
Due: none

edits
  README.md
Due: none

Mention missing packages in Pyodide 0.28
  docs/changelog.md
Due: none

Mention missing packages in Pyodide 0.28 (#1792)
  docs/changelog.md
Due: none

Revert "Remove `SessionContext` workaround (#1788)"
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Fix changelog headings
  docs/changelog.md
  docs/migration.md
Due: none

Fix changelog headings (#1795)
  docs/changelog.md
  docs/migration.md
Due: none

Revert "Remove `SessionContext` workaround (#1788)" (#1793)
  packages/application-extension/src/index.tsx
Due: prettier, eslint

Add version compatibility table to the README (#1789)
  README.md
Due: none

Publish 0.7.0rc2
  app/consoles/package.json
  app/edit/package.json
  app/jupyter-lite.json
  app/lab/package.json
  app/notebooks/package.json
  app/package.json
  app/repl/package.json
  app/tree/package.json
  docs/changelog.md
  package.json
  packages/_metapackage/package.json
  packages/application-extension/package.json
  packages/application/package.json
  packages/apputils-extension/package.json
  packages/apputils/package.json
  packages/contents/package.json
  packages/iframe-extension/package.json
  packages/kernel/package.json
  packages/localforage/package.json
  packages/notebook-application-extension/package.json
  packages/repl-extension/package.json
  packages/server/package.json
  packages/services-extension/package.json
  packages/services/package.json
  packages/session/package.json
  packages/settings/package.json
  packages/types/package.json
  packages/ui-components/package.json
  py/jupyterlite-core/jupyterlite_core/__init__.py
  py/jupyterlite/README.md
  py/jupyterlite/jupyterlite/__init__.py
  py/jupyterlite/pyproject.toml
  pyproject.toml
  yarn.lock
Due: prettier

Update to `jupyterlite-pyodide-kernel==0.7.0rc1`
  ui-tests/requirements.txt
Due: none
